$colors: (
  color-chinese-black: #0e131f,
  color-emerald: #67cf94,
  color-rich-black: #020015,
  color-mint-cream: #f1fffa,
  color-dark-jungle-green: #101f28,
  color-white-smoke: #f2f2f2,
  color-light-silver: #d9d9d9,
  color-white: #ffffff,
  color-moonstone: #85cbfe,
  color-moonstone-dark: #61b9fa,
  color-majorelle-blue: #5E63DA,
  color-true-blue: #0A77C7,
  color-columbia-blue: #EBDBCB,
  color-blue-saphire: #18527b,
  color-icon-light: #f7fd00,
  color-icon-light-hover: #bec100,
  color-icon-dark: #5d1bb4,
  color-icon-dark-hover: #43098f,
  color-azure: #f4feff,
);
