---
import Layout from "../layouts/Layout.astro";
import CardAboutUsFondo from "../components/CardAboutUsFondo.astro";
---

<Layout title="Home IP Moviles">
  <h1 class="h1">About Us</h1>
  <section class="contenedor">
    <div class="mover">
      <div class="contenedorExperiencia">
        <div class="experiencia">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 52 52"
            fill="none"
            style="display: flex; justify-content: center; align-items: center; position: relative;"
            class="iconXP"
          >
            <circle cx="26" cy="26" r="26" fill="#020015"></circle>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              x="10"
              y="10"
            >
              <path
                d="M21.7144 8H30.8572V17.1429"
                stroke="#71CE28"
                stroke-width="2.28571"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M30.8571 8L17.9428 20.9143C17.7292 21.1237 17.442 21.241 17.1428 21.241C16.8437 21.241 16.5565 21.1237 16.3428 20.9143L11.0857 15.6571C10.872 15.4477 10.5848 15.3304 10.2857 15.3304C9.98653 15.3304 9.69931 15.4477 9.48568 15.6571L1.14282 24"
                stroke="#71CE28"
                stroke-width="2.28571"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </svg>

          <p class="cardNoFondo">
            With <span class="xp">over 15 years</span> of unmatched excellence
            in the Telecom and ICT fields. In IPMoviles we are dedicated to
            providing high-quality services and cutting-edge cloud solutions
            while strictly adhering to industry regulations, Forming strong
            strategic alliances with industry leaders like INSPUR.
          </p>
          <p class="cardNoFondo">
            Since our establishment in 2008, We've gained your trust as the
            go-to experts, tackling a wide range of projects across multiple
            sectors, from telecommunications to education, finance, and oil.
          </p>
        </div>

        <div class="experiencia">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 52 52"
            fill="none"
            class="iconXP"
          >
            <circle cx="26" cy="26" r="26" fill="#020015"></circle>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              x="10"
              y="10"
            >
              <path
                d="M25.3334 12C25.334 10.3932 24.9198 8.81345 24.1308 7.41369C23.3418 6.01393 22.2049 4.84156 20.8299 4.01007C19.455 3.17858 17.8887 2.71613 16.2826 2.66749C14.6766 2.61884 13.0852 2.98565 11.6624 3.73241C10.2397 4.47917 9.03386 5.58058 8.16162 6.93002C7.28939 8.27947 6.7803 9.83124 6.68365 11.4351C6.587 13.039 6.90605 14.6407 7.60993 16.0851C8.3138 17.5295 9.37866 18.7678 10.7014 19.68L6.66675 26.6666L9.67475 26.7906L11.2854 29.3333L15.9067 21.328C15.9388 21.328 15.9681 21.3333 16.0001 21.3333C16.0321 21.3333 16.0614 21.3293 16.0934 21.328L20.7148 29.3333L22.3574 26.8453L25.3334 26.6666L21.2987 19.68C22.5436 18.8229 23.5613 17.676 24.2641 16.338C24.967 15.0001 25.334 13.5113 25.3334 12ZM9.33342 12C9.33342 10.6814 9.72441 9.39251 10.457 8.29618C11.1895 7.19985 12.2307 6.34537 13.4489 5.84078C14.667 5.3362 16.0075 5.20418 17.3007 5.46141C18.5939 5.71865 19.7818 6.35359 20.7141 7.28594C21.6465 8.21829 22.2814 9.40617 22.5387 10.6994C22.7959 11.9926 22.6639 13.333 22.1593 14.5512C21.6547 15.7694 20.8002 16.8106 19.7039 17.5431C18.6076 18.2757 17.3186 18.6666 16.0001 18.6666C14.232 18.6666 12.5363 17.9643 11.286 16.714C10.0358 15.4638 9.33342 13.7681 9.33342 12Z"
                fill="#71CE28"></path>
              <path
                d="M16 16C18.2091 16 20 14.2091 20 12C20 9.79086 18.2091 8 16 8C13.7909 8 12 9.79086 12 12C12 14.2091 13.7909 16 16 16Z"
                fill="#71CE28"></path>
            </svg>
          </svg>

          <p class="cardNoFondo">
            We prioritize <span class="xp"
              >our clients' needs as a customer-centric company</span
            > , primarily focused on ICT solutions. Over the last 5 years, we've
            consistently earned positive ratings, including recognition from
            evaluators like Colombia Credit Report. These results shape our
            quality system, fostering ongoing improvement.
          </p>
          <p class="cardNoFondo">
            Our commitment to staying at the forefront of network technology
            drives us to continuously update our personnel. Additionally, we
            actively participated in the Andicom 2015 conference.
          </p>
        </div>
      </div>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 250 200"
        fill="none"
        style="margin-top: 50px; margin-bottom: 74px;"
        class="obrero"
      >
        <g clip-path="url(#clip0_244_613)">
          <path
            opacity="0.1"
            d="M245.764 159.799C239.572 173.851 226.992 183.247 213.96 189.443C203.525 194.371 192.496 197.608 181.216 199.051C179.055 199.333 176.888 199.552 174.714 199.708C169.158 200.106 163.584 200.099 158.028 199.687C154.687 199.443 151.357 199.052 148.038 198.516C136.508 196.666 125.268 193.066 114.637 187.82C111.569 186.301 108.563 184.642 105.619 182.844C100.703 179.847 95.9917 176.459 91.5241 172.707C90.5356 171.877 89.5596 171.028 88.5959 170.162L88.1996 169.805C87.4419 169.118 86.6912 168.416 85.9289 167.734C84.6617 166.567 83.3166 165.506 81.905 164.56C81.8094 164.499 81.7138 164.437 81.6159 164.378C81.3548 164.212 81.089 164.055 80.8185 163.906C80.2614 163.598 79.6903 163.32 79.1073 163.076C76.4146 161.948 73.5307 161.538 70.6072 161.607C70.1223 161.607 69.6374 161.643 69.1501 161.679C68.4694 161.73 67.7863 161.807 67.1055 161.904L66.8538 161.943C64.6845 162.28 62.5397 162.787 60.4355 163.458C57.1856 164.483 53.994 165.765 50.7814 166.921C49.4176 167.416 48.0514 167.888 46.6736 168.311L46.3705 168.403C44.4109 169.009 42.4161 169.468 40.3999 169.777C35.8182 170.421 31.1648 170.009 26.7359 168.567L26.582 168.518L26.2976 168.426L25.9083 168.293C25.2555 168.067 24.6081 167.82 23.9662 167.552L23.5769 167.388C22.9552 167.125 22.3467 166.842 21.7515 166.539L21.3621 166.344C20.7404 166.027 20.1319 165.691 19.5367 165.337C19.3222 165.214 19.11 165.081 18.9002 164.955C18.2661 164.565 17.6444 164.157 17.0351 163.73C16.3886 163.277 15.756 162.804 15.1374 162.312C14.8514 162.086 14.5686 161.855 14.2888 161.617C12.6761 160.261 11.1659 158.763 9.77297 157.138C9.69604 157.054 9.62377 156.967 9.55149 156.882C9.18081 156.441 8.81712 155.992 8.46509 155.534C8.33453 155.364 8.20397 155.195 8.07575 155.021C7.65766 154.46 7.25434 153.887 6.86578 153.301C6.80749 153.216 6.75154 153.129 6.69559 153.044C5.10267 150.622 3.78208 147.996 2.7626 145.225C2.72996 145.141 2.69966 145.053 2.67168 144.969C2.36083 144.089 2.07719 143.194 1.82074 142.285C1.71583 141.905 1.61558 141.516 1.52699 141.136C1.49668 141.023 1.4687 140.908 1.44306 140.795C0.156152 135.224 0.00927734 129.433 0.00927734 123.675C0.00927734 123.004 0.00927734 122.333 0.00927734 121.663C0.0465789 112.349 0.177134 102.876 1.42674 93.6908C1.42674 93.6268 1.44306 93.5627 1.45238 93.5011C1.87062 90.4088 2.43951 87.3434 3.1566 84.3182C3.90711 81.1439 4.86626 78.0337 6.02649 75.0121C8.90105 67.5776 13.0812 60.8121 17.7229 54.5415C23.3181 46.9967 29.7293 40.0338 36.8703 34.2887C37.896 33.4632 38.9358 32.6616 39.9896 31.884L40.4769 31.5328C40.647 31.4072 40.8172 31.2764 40.9874 31.1662C41.3371 30.9098 41.6868 30.6688 42.0412 30.4253L42.4375 30.1535L43.1929 29.6408L43.426 29.4947L43.8293 29.2383L44.228 28.9819C44.6943 28.6794 45.166 28.3838 45.6431 28.0949C47.6807 26.8456 49.7665 25.7039 51.9005 24.6699C52.5299 24.364 53.1633 24.0692 53.8005 23.7854C56.6936 22.4897 59.6656 21.4181 62.6946 20.5783C63.8137 20.2673 64.9397 19.9938 66.0727 19.758C67.4094 19.4743 68.753 19.2393 70.1037 19.053C72.2529 18.7556 74.4145 18.5785 76.5801 18.5223C91.8085 18.1147 107.191 23.565 119.125 34.0118C123.881 38.1752 128.154 43.1051 133.495 46.2968C138.158 49.0758 143.616 50.2269 148.61 48.0401C152.736 46.2327 155.422 45.3354 160.056 45.6097C169.647 46.2038 179.102 48.3781 188.105 52.0599C188.469 52.206 188.832 52.3572 189.194 52.5085C212.673 62.3913 232.86 82.016 243.346 107.235C243.623 107.901 243.893 108.573 244.155 109.25C250.41 125.311 252.667 144.141 245.764 159.799Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M46.6667 71.1129V168.316L46.3637 168.408C44.4041 169.014 42.4093 169.473 40.3931 169.782C35.8114 170.426 31.1579 170.014 26.729 168.572L26.5752 168.524L26.2907 168.431L25.9014 168.298C25.2486 168.072 24.6013 167.825 23.9594 167.557L23.5701 167.393C22.9484 167.13 22.3399 166.847 21.7446 166.544L21.3553 166.35C20.7336 166.032 20.1251 165.696 19.5298 165.342C19.3153 165.219 19.1032 165.086 18.8934 164.96C18.2592 164.57 17.6376 164.162 17.0283 163.735C16.3817 163.282 15.7492 162.809 15.1306 162.317C14.8446 162.091 14.5617 161.86 14.282 161.622C12.6692 160.266 11.159 158.768 9.76614 157.144C9.6892 157.059 9.61693 156.972 9.54466 156.887C9.17397 156.446 8.81028 155.998 8.45825 155.539C8.32769 155.37 8.19714 155.2 8.06891 155.026C7.65082 154.465 7.2475 153.892 6.85894 153.306C6.80066 153.221 6.74471 153.134 6.68875 153.049C5.09583 150.627 3.77524 148.002 2.75577 145.23C2.72313 145.146 2.69282 145.059 2.66484 144.974C2.354 144.094 2.07035 143.199 1.8139 142.29C1.70899 141.91 1.60874 141.521 1.52015 141.141C1.48984 141.029 1.46187 140.913 1.43622 140.8C0.149316 135.23 0.00244141 129.438 0.00244141 123.68C0.00244141 123.009 0.00244141 122.338 0.00244141 121.668C0.039743 112.354 0.170298 102.882 1.4199 93.696C1.4199 93.6319 1.43622 93.5678 1.44555 93.5063C1.86378 90.414 2.43267 87.3486 3.14976 84.3233H26.9575V71.1129H31.7041V60.502H41.9201V71.1129H46.6667Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M245.764 159.8C239.572 173.851 226.992 183.247 213.96 189.443C203.525 194.371 192.496 197.608 181.216 199.051C179.056 199.333 176.888 199.552 174.714 199.708C169.158 200.106 163.584 200.099 158.028 199.687C154.687 199.443 151.357 199.052 148.038 198.516C136.509 196.666 125.268 193.067 114.637 187.82C111.569 186.301 108.563 184.642 105.62 182.844C100.703 179.847 95.9918 176.459 91.5242 172.708C90.5357 171.877 89.5596 171.028 88.596 170.162L88.1997 169.805C87.442 169.118 86.6913 168.416 85.929 167.734C84.6618 166.567 83.3167 165.506 81.905 164.56C81.8095 164.499 81.7139 164.437 81.616 164.378C81.3548 164.212 81.0891 164.055 80.8186 163.907C80.2615 163.598 79.6904 163.32 79.1074 163.076V123.311H122.375V132.164H141.364V67.411H163.714V93.3038H174.77V77.9732H183.904V61.5967H188.1V52.0599C188.464 52.2061 188.828 52.3573 189.189 52.5086V61.5967H193.274V77.9835H202.401V93.3141H215.86V151.722H237.252V109.245H244.146C250.41 125.311 252.667 144.141 245.764 159.8Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M158.033 77.1554H148.043V88.1406H158.033V77.1554Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M158.033 99.9257H148.043V110.911H158.033V99.9257Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M158.033 122.698H148.043V133.684H158.033V122.698Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M158.033 145.471H148.043V156.457H158.033V145.471Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M158.033 168.242H148.043V179.227H158.033V168.242Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M158.033 191.009V199.685C154.691 199.44 151.361 199.05 148.043 198.513V191.009H158.033Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M117.37 137.509H82.4016V142.485H117.37V137.509Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M117.37 152.621H82.4016V157.597H117.37V152.621Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M117.37 167.734V172.707H91.5288C90.5403 171.877 89.5643 171.028 88.6007 170.162L88.2043 169.805C87.4466 169.118 86.6959 168.416 85.9336 167.734H117.37Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M117.37 182.844V187.82H114.642C111.574 186.301 108.568 184.642 105.624 182.844H117.37Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M181.22 106.901H174.718V114.051H181.22V106.901Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M40.4069 73.5791H33.9048V80.7291H40.4069V73.5791Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M40.4069 90.1915H33.9048V97.3415H40.4069V90.1915Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M40.4069 106.801H33.9048V113.951H40.4069V106.801Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M40.4069 123.414H33.9048V130.564H40.4069V123.414Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M40.4069 140.026H33.9048V147.176H40.4069V140.026Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M40.4069 156.636H33.9048V163.786H40.4069V156.636Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M206.047 106.901H199.545V114.051H206.047V106.901Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M181.22 124.539H174.718V131.689H181.22V124.539Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M206.047 124.539H199.545V131.689H206.047V124.539Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M181.22 142.18H174.718V149.33H181.22V142.18Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M206.047 142.18H199.545V149.33H206.047V142.18Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M181.22 159.82H174.718V166.97H181.22V159.82Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M206.047 159.82H199.545V166.97H206.047V159.82Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M181.22 177.458H174.718V184.608H181.22V177.458Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M206.047 177.458H199.545V184.608H206.047V177.458Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M174.718 199.708V195.096H181.22V199.051L174.718 199.708Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M1.42212 93.5089V97.6107H26.2906V93.5089H1.42212ZM3.6369 97.3544H1.81145V93.7653H3.6369V97.3544ZM5.85168 97.3544H4.02624V93.7653H5.85168V97.3544ZM8.06647 97.3544H6.24102V93.7653H8.06647V97.3544ZM10.2812 97.3544H8.4558V93.7653H10.2812V97.3544ZM12.496 97.3544H10.6706V93.7653H12.496V97.3544ZM14.7108 97.3544H12.8854V93.7653H14.7108V97.3544ZM16.9256 97.3544H15.1002V93.7653H16.9256V97.3544ZM19.1404 97.3544H17.3149V93.7653H19.1404V97.3544ZM21.3552 97.3544H19.5297V93.7653H21.3552V97.3544ZM23.5699 97.3544H21.7445V93.7653H23.5699V97.3544ZM25.9013 97.3544H23.9593V93.7653H25.9013V97.3544Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M1.42212 105.42V109.509H26.2906V105.42H1.42212ZM3.6369 109.252H1.81145V105.676H3.6369V109.252ZM5.85168 109.252H4.02624V105.676H5.85168V109.252ZM8.06647 109.252H6.24102V105.676H8.06647V109.252ZM10.2812 109.252H8.4558V105.676H10.2812V109.252ZM12.496 109.252H10.6706V105.676H12.496V109.252ZM14.7108 109.252H12.8854V105.676H14.7108V109.252ZM16.9256 109.252H15.1002V105.676H16.9256V109.252ZM19.1404 109.252H17.3149V105.676H19.1404V109.252ZM21.3552 109.252H19.5297V105.676H21.3552V109.252ZM23.5699 109.252H21.7445V105.676H23.5699V109.252ZM25.9013 109.252H23.9593V105.676H25.9013V109.252Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M1.42212 117.328V121.417H26.2906V117.328H1.42212ZM3.6369 121.16H1.81145V117.584H3.6369V121.16ZM5.85168 121.16H4.02624V117.584H5.85168V121.16ZM8.06647 121.16H6.24102V117.584H8.06647V121.16ZM10.2812 121.16H8.4558V117.584H10.2812V121.16ZM12.496 121.16H10.6706V117.584H12.496V121.16ZM14.7108 121.16H12.8854V117.584H14.7108V121.16ZM16.9256 121.16H15.1002V117.584H16.9256V121.16ZM19.1404 121.16H17.3149V117.584H19.1404V121.16ZM21.3552 121.16H19.5297V117.584H21.3552V121.16ZM23.5699 121.16H21.7445V117.584H23.5699V121.16ZM25.9013 121.16H23.9593V117.584H25.9013V121.16Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M1.42212 129.226V133.327H26.2906V129.226H1.42212ZM3.6369 133.071H1.81145V129.482H3.6369V133.071ZM5.85168 133.071H4.02624V129.482H5.85168V133.071ZM8.06647 133.071H6.24102V129.482H8.06647V133.071ZM10.2812 133.071H8.4558V129.482H10.2812V133.071ZM12.496 133.071H10.6706V129.482H12.496V133.071ZM14.7108 133.071H12.8854V129.482H14.7108V133.071ZM16.9256 133.071H15.1002V129.482H16.9256V133.071ZM19.1404 133.071H17.3149V129.482H19.1404V133.071ZM21.3552 133.071H19.5297V129.482H21.3552V133.071ZM23.5699 133.071H21.7445V129.482H23.5699V133.071ZM25.9013 133.071H23.9593V129.482H25.9013V133.071Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M1.51782 141.144C1.60641 141.528 1.70666 141.913 1.81157 142.292V141.4H3.63702V144.989H2.66252C2.69049 145.074 2.7208 145.161 2.75344 145.246H26.3001V141.144H1.51782ZM5.8518 144.989H4.02636V141.4H5.8518V144.989ZM8.06659 144.989H6.24114V141.4H8.06659V144.989ZM10.2814 144.989H8.45592V141.4H10.2814V144.989ZM12.4962 144.989H10.6707V141.4H12.4962V144.989ZM14.7109 144.989H12.8855V141.4H14.7109V144.989ZM16.9257 144.989H15.1003V141.4H16.9257V144.989ZM19.1405 144.989H17.3151V141.4H19.1405V144.989ZM21.3553 144.989H19.5298V141.4H21.3553V144.989ZM23.5701 144.989H21.7446V141.4H23.5701V144.989ZM25.9014 144.989H23.9594V141.4H25.9014V144.989Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M6.68628 153.052C6.74223 153.137 6.79818 153.224 6.85647 153.308H8.06644V155.029C8.19466 155.2 8.32522 155.37 8.45577 155.541V153.311H10.2812V156.9H9.54218C9.61445 156.985 9.68673 157.072 9.76366 157.156H26.2906V153.055L6.68628 153.052ZM12.496 156.897H10.6706V153.308H12.496V156.897ZM14.7108 156.897H12.8853V153.308H14.7108V156.897ZM16.9256 156.897H15.1001V153.308H16.9256V156.897ZM19.1403 156.897H17.3149V153.308H19.1403V156.897ZM21.3551 156.897H19.5297V153.308H21.3551V156.897ZM23.5699 156.897H21.7445V153.308H23.5699V156.897ZM25.9013 156.897H23.9593V153.308H25.9013V156.897Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M18.8933 164.96C19.1031 165.091 19.3153 165.217 19.5298 165.342V165.217H21.3552V166.35L21.7446 166.545V165.217H23.57V167.393L23.9593 167.557V165.217H25.9013V168.293L26.2907 168.426V164.96H18.8933Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M95.5761 57.9998C95.5761 57.9998 90.0182 57.6306 90.6803 61.9119C90.6463 62.1295 90.6758 62.3533 90.7646 62.5514C90.8534 62.7494 90.9969 62.9114 91.1745 63.0143C91.1745 63.0143 91.1745 62.6964 91.7434 62.8041C91.9429 62.8401 92.1455 62.8504 92.3472 62.8348C92.6199 62.8151 92.8794 62.6981 93.0862 62.5016C93.0862 62.5016 94.6482 61.7914 95.2567 58.9842C95.2567 58.9842 95.7043 58.3715 95.688 58.2152L94.7555 58.6561C94.7555 58.6561 95.0772 59.3996 94.8254 60.0174C94.8254 60.0174 94.7951 58.6843 94.6133 58.7151C94.5783 58.7151 94.126 58.9714 94.126 58.9714C94.126 58.9714 94.6785 60.2686 94.2612 61.2095C94.2612 61.2095 94.4198 59.6149 93.9558 59.0663L93.2797 59.4944C93.2797 59.4944 93.9255 60.8326 93.4872 61.9247C93.4872 61.9247 93.6015 60.2507 93.1422 59.5995L92.543 60.1122C92.543 60.1122 93.1492 61.43 92.7762 62.3375C92.7762 62.3375 92.7272 60.3866 92.4101 60.2379C92.1826 60.4487 91.9798 60.6899 91.8063 60.9557C91.8063 60.9557 92.2213 61.9119 91.9648 62.417C91.9648 62.417 91.8063 61.1198 91.6758 61.1121C91.6758 61.1121 91.1559 61.9735 91.1022 62.5631C91.1262 62.0161 91.2806 61.4856 91.5499 61.0249C91.2495 61.0874 90.9724 61.2451 90.7525 61.4787C90.7525 61.4787 90.8341 60.8711 91.6851 60.8172C91.6851 60.8172 92.1164 60.1661 92.233 60.1251C92.233 60.1251 91.3913 60.0482 90.8808 60.2968C90.8808 60.2968 91.3307 59.7226 92.3868 59.9841L92.9767 59.4534C92.9767 59.4534 91.8693 59.2868 91.4007 59.4713C91.4007 59.4713 91.9392 58.9586 93.1352 59.3329L93.7786 58.9099C93.2843 58.7909 92.7781 58.7426 92.2726 58.7663C92.2726 58.7663 92.8647 58.4151 93.9675 58.7971L94.4337 58.5689C94.4337 58.5689 93.7343 58.4202 93.5408 58.3972C93.3473 58.3741 93.3264 58.3126 93.3264 58.3126C93.7642 58.2323 94.2138 58.2873 94.6249 58.4715C94.6249 58.4715 95.5924 58.0665 95.5761 57.9998Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M80.9863 78.8346C80.9863 78.8346 79.0863 84.5874 83.0076 85.113C83.1872 85.2101 83.3901 85.2423 83.5873 85.205C83.7845 85.1677 83.9659 85.0628 84.1057 84.9053C84.1057 84.9053 83.8329 84.8053 84.0847 84.2439C84.1729 84.0444 84.2402 83.8346 84.2852 83.6184C84.3442 83.3247 84.3147 83.0178 84.2013 82.7442C84.2013 82.7442 84.0264 80.8958 81.751 79.4576C81.751 79.4576 81.3454 78.809 81.2032 78.7833L81.3197 79.8985C81.3197 79.8985 82.0588 79.7703 82.5274 80.2113C82.5274 80.2113 81.3617 79.8652 81.3314 80.0651C81.3314 80.1036 81.4176 80.6522 81.4176 80.6522C81.4176 80.6522 82.7045 80.4369 83.4063 81.1444C83.4063 81.1444 82.0588 80.524 81.4503 80.8599L81.6321 81.6751C81.6321 81.6751 82.982 81.3777 83.8096 82.1468C83.8096 82.1468 82.3828 81.5546 81.6834 81.852L81.9608 82.6211C81.9608 82.6211 83.2827 82.3647 83.9681 83.0031C83.9681 83.0031 82.2523 82.4904 82.0354 82.7929C82.1548 83.0914 82.3067 83.3729 82.4877 83.6312C82.4877 83.6312 83.4412 83.4671 83.8073 83.8875C83.8073 83.8875 82.6299 83.685 82.588 83.8183C82.588 83.8183 83.1918 84.6131 83.6907 84.8438C83.2222 84.6615 82.8051 84.3477 82.4807 83.9337C82.4498 84.2689 82.509 84.6067 82.6509 84.9053C82.6509 84.9053 82.1427 84.6489 82.3362 83.7389C82.3362 83.7389 81.8886 83.1005 81.8886 82.9698C81.8886 82.9698 81.5808 83.8337 81.6554 84.4439C81.6554 84.4439 81.2824 83.8055 81.8093 82.7672L81.5156 81.9981C81.5156 81.9981 81.0493 83.1184 81.0819 83.6671C81.0819 83.6671 80.7928 82.9518 81.4549 81.7956L81.2708 80.9983C81.0268 81.4826 80.841 81.9996 80.7182 82.5365C80.7182 82.5365 80.5784 81.811 81.2241 80.7573L81.1565 80.2087C81.1565 80.2087 80.8301 80.8958 80.7532 81.1034C80.6763 81.3111 80.618 81.3034 80.618 81.3034C80.6717 80.8186 80.8468 80.3597 81.1239 79.978C81.1239 79.978 81.0493 78.8346 80.9863 78.8346Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M117.829 73.9841C117.829 73.9841 115.931 79.7472 119.85 80.2599C120.03 80.357 120.234 80.3889 120.431 80.3511C120.629 80.3134 120.811 80.2079 120.95 80.0497C120.95 80.0497 120.675 79.9497 120.929 79.3909C121.018 79.1911 121.085 78.9802 121.128 78.7628C121.187 78.4693 121.159 78.1625 121.046 77.8886C121.046 77.8886 120.871 76.0402 118.596 74.602C118.596 74.602 118.188 73.9559 118.046 73.9303L118.164 75.0429C118.164 75.0429 118.903 74.9173 119.372 75.3582C119.372 75.3582 118.206 75.0122 118.174 75.2096C118.174 75.2506 118.26 75.7966 118.26 75.7966C118.26 75.7966 119.547 75.5839 120.251 76.2889C120.251 76.2889 118.903 75.671 118.293 76.0043L118.477 76.8221C118.477 76.8221 119.827 76.5221 120.654 77.2938C120.654 77.2938 119.225 76.699 118.526 76.9964L118.803 77.7655C118.803 77.7655 120.125 77.5091 120.811 78.1475C120.811 78.1475 119.097 77.6348 118.878 77.9398C119.001 78.2395 119.158 78.5211 119.344 78.7781C119.344 78.7781 120.295 78.6115 120.664 79.0345C120.664 79.0345 119.486 78.832 119.444 78.9679C119.444 78.9679 120.046 79.76 120.545 79.9933C120.077 79.8118 119.66 79.4979 119.337 79.0832C119.306 79.4181 119.365 79.7557 119.505 80.0548C119.505 80.0548 118.999 79.7985 119.193 78.8909C119.193 78.8909 118.745 78.25 118.743 78.1219C118.743 78.1219 118.437 78.9884 118.509 79.5959C118.509 79.5959 118.136 78.9602 118.663 77.9193L118.37 77.1502C118.37 77.1502 117.903 78.2705 117.936 78.8166C117.936 78.8166 117.647 78.1039 118.309 76.9477L118.122 76.1478C117.879 76.6321 117.693 77.1492 117.57 77.686C117.57 77.686 117.432 76.9605 118.078 75.9069L118.011 75.3582C118.011 75.3582 117.684 76.0453 117.605 76.253C117.526 76.4606 117.47 76.4529 117.47 76.4529C117.525 75.9681 117.701 75.5094 117.978 75.1275C117.978 75.1275 117.894 73.9867 117.829 73.9841Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M65.1636 121.022C65.1636 121.022 63.2635 126.777 67.1849 127.303C67.3646 127.4 67.5677 127.432 67.765 127.394C67.9623 127.356 68.1437 127.251 68.2829 127.093C68.2829 127.093 68.0102 126.993 68.2619 126.434C68.3516 126.234 68.4189 126.023 68.4624 125.806C68.5226 125.512 68.4931 125.205 68.3785 124.931C68.3785 124.931 68.2037 123.083 65.9283 121.647C65.9283 121.647 65.5226 120.999 65.3804 120.973L65.497 122.086C65.497 122.086 66.2383 121.96 66.7046 122.401C66.7046 122.401 65.5389 122.055 65.5086 122.252C65.5086 122.293 65.5949 122.839 65.5949 122.839C65.5949 122.839 66.8818 122.627 67.5835 123.332C67.5835 123.332 66.236 122.714 65.6275 123.047L65.8094 123.865C65.8094 123.865 67.1592 123.565 67.9869 124.337C67.9869 124.337 66.5601 123.742 65.8607 124.039L66.1381 124.808C66.1381 124.808 67.46 124.552 68.1454 125.19C68.1454 125.19 66.4318 124.678 66.2127 124.983C66.3321 125.281 66.484 125.563 66.665 125.821C66.665 125.821 67.6185 125.654 67.9869 126.077C67.9869 126.077 66.8072 125.875 66.7652 126.011C66.7652 126.011 67.369 126.803 67.8679 127.036C67.3993 126.855 66.9821 126.542 66.658 126.129C66.6271 126.463 66.6863 126.8 66.8282 127.098C66.8282 127.098 66.3199 126.841 66.5134 125.934C66.5134 125.934 66.0681 125.293 66.0658 125.165C66.0658 125.165 65.7581 126.031 65.8327 126.639C65.8327 126.639 65.4597 126.003 65.9865 124.962L65.6928 124.193C65.6928 124.193 65.2265 125.313 65.2615 125.859C65.2615 125.859 64.9724 125.147 65.6345 123.991L65.448 123.193C65.2036 123.677 65.0178 124.194 64.8955 124.731C64.8955 124.731 64.7556 124.003 65.4014 122.952L65.3338 122.401C65.3338 122.401 65.0074 123.088 64.9304 123.296C64.8535 123.503 64.7952 123.496 64.7952 123.496C64.8491 123.011 65.0251 122.552 65.3035 122.17C65.3035 122.17 65.2265 121.022 65.1636 121.022Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M57.6239 66.7777C57.6239 66.7777 55.7262 72.5305 59.6452 73.0561C59.8252 73.153 60.0284 73.1851 60.2259 73.1479C60.4234 73.1106 60.6053 73.0058 60.7456 72.8484C60.7456 72.8484 60.4705 72.7484 60.7246 72.187C60.8125 71.9868 60.879 71.776 60.9228 71.5589C60.9824 71.2663 60.9538 70.9603 60.8412 70.6873C60.8412 70.6873 60.6663 68.8389 58.3886 67.4007C58.3886 67.4007 57.9829 66.7521 57.8407 66.7264L57.9596 67.8416C57.9596 67.8416 58.6987 67.7134 59.1649 68.1544C59.1649 68.1544 57.9993 67.8083 57.9689 68.0083C57.9689 68.0467 58.0552 68.5953 58.0552 68.5953C58.0552 68.5953 59.3421 68.38 60.0462 69.0876C60.0462 69.0876 58.6987 68.4672 58.0878 68.803L58.2697 69.6182C58.2697 69.6182 59.6195 69.3183 60.4495 70.0899C60.4495 70.0899 59.0204 69.4952 58.321 69.7951L58.5984 70.5642C58.5984 70.5642 59.9203 70.3078 60.6057 70.9488C60.6057 70.9488 58.8922 70.436 58.673 70.7385C58.7924 71.037 58.9443 71.3185 59.1253 71.5769C59.1253 71.5769 60.0788 71.4128 60.4472 71.8332C60.4472 71.8332 59.2698 71.6307 59.2279 71.764C59.2279 71.764 59.8294 72.5587 60.3283 72.7895C59.8601 72.6065 59.4431 72.2929 59.1183 71.8794C59.0874 72.2146 59.1466 72.5524 59.2885 72.851C59.2885 72.851 58.7802 72.5946 58.9761 71.6845C58.9761 71.6845 58.5285 71.0462 58.5261 70.9154C58.5261 70.9154 58.2207 71.7794 58.293 72.3895C58.293 72.3895 57.9177 71.7512 58.4469 70.7129L58.1508 69.9438C58.1508 69.9438 57.6845 71.0641 57.7195 71.6127C57.7195 71.6127 57.4304 70.8975 58.0925 69.7413L57.906 68.944C57.662 69.4282 57.4763 69.9453 57.3535 70.4822C57.3535 70.4822 57.2159 69.7567 57.8594 68.703L57.7941 68.1544C57.7941 68.1544 57.4654 68.8414 57.3884 69.0465C57.3115 69.2516 57.2532 69.2491 57.2532 69.2491C57.3071 68.7638 57.4831 68.3048 57.7615 67.9237C57.7615 67.9237 57.6892 66.7777 57.6239 66.7777Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M71.7146 98.1055C71.7146 98.1055 73.181 104.002 76.6594 101.951C76.8571 101.916 77.0397 101.814 77.1813 101.658C77.3228 101.503 77.4159 101.302 77.4474 101.084C77.4474 101.084 77.1723 101.177 77.086 100.559C77.0532 100.34 76.9968 100.125 76.9182 99.9206C76.8148 99.6423 76.6303 99.4096 76.3936 99.2591C76.3936 99.2591 75.2816 97.8594 72.6635 98.126C72.6635 98.126 71.992 97.8568 71.8615 97.9261L72.5422 98.7592C72.5422 98.7592 73.0808 98.1875 73.6939 98.2465C73.6939 98.2465 72.5539 98.708 72.6378 98.8849C72.6565 98.9207 73.0155 99.3104 73.0155 99.3104C73.0155 99.3104 73.948 98.3183 74.8992 98.449C74.8992 98.449 73.4748 98.7977 73.153 99.4591L73.7289 100.01C73.7289 100.01 74.6754 98.9105 75.7572 99.013C75.7572 99.013 74.2768 99.4335 73.8618 100.121L74.4959 100.579C74.4959 100.579 75.4284 99.5258 76.3377 99.6206C76.3377 99.6206 74.6731 100.295 74.6474 100.674C74.9021 100.843 75.1746 100.976 75.4587 101.072C75.4587 101.072 76.1582 100.333 76.6687 100.438C76.6687 100.438 75.5986 101.02 75.6359 101.156C75.6359 101.156 76.5452 101.413 77.0697 101.29C76.5921 101.438 76.0873 101.447 75.6056 101.315C75.7556 101.609 75.9811 101.847 76.2537 102C76.2537 102 75.7035 102.11 75.3865 101.246C75.3865 101.246 74.6871 101.008 74.6125 100.9C74.6125 100.9 74.8176 101.802 75.1953 102.253C75.1953 102.253 74.5565 101.969 74.4423 100.785L73.7965 100.341C73.7965 100.341 74.0086 101.548 74.3164 101.977C74.3164 101.977 73.7056 101.577 73.6403 100.213L73.0714 99.6796C73.1268 100.233 73.2475 100.776 73.4305 101.295C73.4305 101.295 72.9386 100.782 72.9129 99.5206L72.5702 99.113C72.5702 99.113 72.6635 99.8821 72.7078 100.1C72.7521 100.318 72.7078 100.356 72.7078 100.356C72.4977 99.9257 72.4009 99.4393 72.428 98.9515C72.428 98.9515 71.7682 98.067 71.7146 98.1055Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M111.497 103.371C111.497 103.371 112.963 109.268 116.439 107.217C116.638 107.183 116.821 107.081 116.963 106.925C117.105 106.769 117.198 106.568 117.23 106.35C117.23 106.35 116.952 106.442 116.866 105.837C116.835 105.618 116.779 105.404 116.7 105.199C116.595 104.921 116.41 104.689 116.174 104.538C116.174 104.538 115.061 103.138 112.443 103.407C112.443 103.407 111.772 103.135 111.644 103.205L112.322 104.038C112.322 104.038 112.861 103.466 113.474 103.525C113.474 103.525 112.334 103.986 112.42 104.163C112.436 104.199 112.798 104.589 112.798 104.589C112.798 104.589 113.73 103.597 114.681 103.728C114.681 103.728 113.255 104.076 112.933 104.738L113.511 105.289C113.511 105.289 114.444 104.189 115.537 104.292C115.537 104.292 114.059 104.712 113.644 105.399L114.278 105.858C114.278 105.858 115.211 104.804 116.118 104.899C116.118 104.899 114.453 105.573 114.43 105.953C114.683 106.121 114.955 106.255 115.239 106.35C115.239 106.35 115.938 105.612 116.449 105.717C116.449 105.717 115.381 106.299 115.416 106.435C115.416 106.435 116.325 106.691 116.852 106.568C116.373 106.717 115.868 106.726 115.386 106.594C115.536 106.886 115.762 107.124 116.034 107.278C116.034 107.278 115.483 107.388 115.166 106.524C115.166 106.524 114.467 106.286 114.395 106.178C114.395 106.178 114.598 107.081 114.975 107.532C114.975 107.532 114.336 107.247 114.222 106.063L113.576 105.614C113.576 105.614 113.789 106.822 114.099 107.25C114.099 107.25 113.488 106.85 113.423 105.486L112.851 104.953C112.907 105.506 113.028 106.049 113.213 106.568C113.213 106.568 112.718 106.055 112.693 104.794L112.35 104.386C112.35 104.386 112.443 105.155 112.488 105.373C112.532 105.591 112.488 105.63 112.488 105.63C112.278 105.199 112.181 104.713 112.208 104.225C112.208 104.225 111.55 103.333 111.497 103.371Z"
            fill="#67CF94"></path>
          <path
            d="M96.5716 162.586C96.5716 162.586 108.667 158.108 106.163 142.239L90.7991 137.852L87.2322 150.873L96.5716 162.586Z"
            fill="#CED7E7"></path>
          <path
            opacity="0.1"
            d="M87.2322 150.873L96.5692 162.586C96.5692 162.586 108.664 158.107 106.16 142.239L87.2322 150.873Z"
            fill="black"></path>
          <path
            d="M36.4087 33.6376C36.4087 33.6376 38.0406 36.5576 40.2717 35.0989C42.5028 33.6401 40.3626 29.6101 40.3626 29.6101C40.3626 29.6101 36.0893 28.9666 36.4087 33.6376Z"
            fill="#FED253"></path>
          <path
            opacity="0.1"
            d="M40.2718 35.0988C40.0086 35.2861 39.7134 35.4122 39.4043 35.4695C39.0952 35.5269 38.7788 35.5141 38.4743 35.4321C37.656 35.2039 37.0265 34.5118 36.6885 34.058C36.5876 33.9251 36.4942 33.7855 36.4087 33.6401C36.2945 31.9738 36.7654 30.9816 37.4182 30.3971C38.3158 29.5947 39.5584 29.5614 40.0946 29.587C40.2601 29.587 40.3557 29.6126 40.3557 29.6126L40.4 29.6947C40.4629 29.8254 40.6005 30.1151 40.7474 30.5022C41.2463 31.7712 41.8408 34.0708 40.2718 35.0988Z"
            fill="black"></path>
          <path
            d="M97.7605 141.493L106.153 142.239L121.773 142.38L109.466 159.043C109.466 159.043 105.561 159.277 104.757 159.882C103.953 160.487 92.6595 160.164 92.6595 160.164L90.8364 151.622L97.7605 141.493Z"
            fill="#FFA2A2"></path>
          <path
            opacity="0.05"
            d="M97.7605 141.493L106.153 142.239L121.773 142.38L109.466 159.043C109.466 159.043 105.561 159.277 104.757 159.882C103.953 160.487 92.6595 160.164 92.6595 160.164L90.8364 151.622L97.7605 141.493Z"
            fill="black"></path>
          <path
            d="M89.2721 96.6903L91.2235 100.331L91.6478 106.678C91.6478 106.678 93.007 112.09 94.0258 113.677C95.0446 115.264 95.4689 119.466 95.4689 119.466C95.4689 119.466 95.8932 123.386 96.4014 124.224C96.9096 125.062 97.5904 131.146 97.5904 131.146C97.5904 131.146 102.09 141.039 106.163 142.251C106.163 142.251 85.9616 149.532 96.5716 162.599C96.5716 162.599 89.018 164.65 87.2345 162.32C85.4511 159.989 80.7837 125.452 80.7837 125.452L82.2268 96.3289L89.2721 96.6903Z"
            fill="#CED7E7"></path>
          <path
            opacity="0.05"
            d="M89.2721 96.6903L91.2235 100.331L91.6478 106.678C91.6478 106.678 93.007 112.09 94.0258 113.677C95.0446 115.264 95.4689 119.466 95.4689 119.466C95.4689 119.466 95.8932 123.386 96.4014 124.224C96.9096 125.062 97.5904 131.146 97.5904 131.146C97.5904 131.146 102.09 141.039 106.163 142.251C106.163 142.251 85.9616 149.532 96.5716 162.599C96.5716 162.599 89.018 164.65 87.2345 162.32C85.4511 159.989 80.7837 125.452 80.7837 125.452L82.2268 96.3289L89.2721 96.6903Z"
            fill="black"></path>
          <path
            d="M64.7627 61.2121C64.1958 64.4457 64.364 67.7833 65.2523 70.9283L62.1096 80.8214C62.1096 80.8214 38.1736 66.1676 40.2112 62.6195C41.3652 60.6071 41.5121 55.2824 41.4189 51.0524C41.3512 47.8376 41.1438 45.2585 41.1438 45.2585C41.1438 45.2585 70.5188 48.4349 66.6091 55.8079C65.7243 57.4837 65.1003 59.3102 64.7627 61.2121Z"
            fill="#FFA2A2"></path>
          <path
            opacity="0.1"
            d="M66.6089 55.8079C65.7241 57.4837 65.1001 59.3102 64.7625 61.2121C60.4031 62.7457 55.6953 62.5715 51.4396 60.7193C47.1838 58.8671 43.6428 55.4512 41.4187 51.0524C41.351 47.8376 41.1436 45.2585 41.1436 45.2585C41.1436 45.2585 70.5116 48.4349 66.6089 55.8079Z"
            fill="black"></path>
          <path
            d="M78.4919 39.939C78.494 43.3611 77.7616 46.7355 76.3545 49.7878C74.9473 52.8401 72.905 55.4842 70.3936 57.5052C67.8822 59.5262 64.9725 60.867 61.9012 61.4186C58.8298 61.9703 55.6834 61.7172 52.7178 60.68C49.7521 59.6427 47.0509 57.8506 44.8336 55.4493C42.6164 53.0479 40.9457 50.1052 39.9574 46.8602C38.9692 43.6152 38.6911 40.1596 39.146 36.7742C39.6009 33.3888 40.7757 30.1692 42.5752 27.3771C42.8549 26.9447 43.1495 26.5226 43.4587 26.1107C45.2211 23.7553 47.4142 21.8337 49.8956 20.4707C51.2419 19.73 52.6619 19.1639 54.127 18.7838C56.7725 18.0946 59.5187 18.0114 62.1947 18.5394C64.8707 19.0673 67.4192 20.1951 69.6819 21.8526C71.9445 23.5102 73.8727 25.6619 75.3467 28.174C76.8206 30.6862 77.8087 33.5049 78.2495 36.455C78.4142 37.6074 78.4952 38.7724 78.4919 39.939Z"
            fill="#FFA2A2"></path>
          <path
            d="M86.2996 129.361C86.0035 131.1 86.3742 134.276 86.9361 137.509C86.9594 137.65 86.985 137.791 87.0107 137.932C87.0363 138.073 87.0736 138.291 87.1062 138.468C87.365 139.857 87.6471 141.234 87.9222 142.485C88.1973 143.736 88.4444 144.807 88.6543 145.689C88.9713 147.01 89.1881 147.84 89.1881 147.84C89.1881 147.84 89.2161 148.655 89.2534 149.953C89.2744 150.701 89.2977 151.614 89.321 152.621C89.321 152.914 89.3373 153.211 89.3443 153.519C89.356 154.054 89.3676 154.611 89.3793 155.18C89.3793 155.364 89.3793 155.549 89.391 155.736C89.391 156.349 89.4119 156.974 89.4213 157.597C89.4329 158.454 89.4423 159.31 89.4469 160.141C89.4469 160.458 89.4469 160.771 89.4469 161.079C89.4469 161.874 89.4469 162.635 89.4469 163.335C89.4213 165.322 89.349 166.821 89.1951 167.255C89.1415 167.403 89.0926 167.565 89.0459 167.734C88.8438 168.53 88.6972 169.341 88.6076 170.162L88.2113 169.805C87.4536 169.118 86.7029 168.416 85.9406 167.734C84.6734 166.567 83.3283 165.506 81.9167 164.56C81.8211 164.499 81.7255 164.437 81.6276 164.378C81.3665 164.212 81.1007 164.055 80.8302 163.907C80.2731 163.598 79.702 163.32 79.119 163.076C76.4263 161.948 73.5424 161.538 70.6189 161.607C69.4533 162.097 68.6956 162.448 68.6956 162.448L67.2128 162.94L66.9657 163.022C65.3594 163.56 63.1003 164.324 62.2867 164.642C60.9718 165.155 49.5552 167.767 49.5552 167.767C48.5122 168.08 47.4468 168.295 46.3706 168.408C44.4109 169.014 42.4162 169.474 40.4 169.782C35.8183 170.427 31.1648 170.014 26.7359 168.572C26.6037 168.581 26.4711 168.577 26.3396 168.56C26.4212 168.56 26.5005 168.539 26.5727 168.524L26.2883 168.431L25.899 168.298C25.2462 168.072 24.5989 167.826 23.957 167.557L23.5676 167.393C22.9459 167.13 22.3374 166.847 21.7422 166.545L21.3528 166.35C20.7311 166.032 20.1227 165.696 19.5274 165.342C19.3129 165.219 19.1008 165.086 18.8909 164.96C18.2568 164.571 17.6351 164.162 17.0259 163.735C16.9233 162.768 16.8697 162.122 16.8697 162.122L15.9604 157.144L15.9138 156.887L15.261 153.298L15.2144 153.042L13.7946 145.233L13.748 144.977L13.0952 141.388L13.0486 141.131L11.6101 133.327L11.5635 133.071L10.9107 129.482L10.8641 129.226L9.43731 121.406L9.39068 121.15L8.7379 117.574L8.69128 117.317L8.4325 115.907L8.04316 113.772C8.04316 113.772 6.80055 111.818 5.40174 109.509L5.24554 109.252C4.84688 108.604 4.43656 107.929 4.0379 107.268C3.90502 107.05 3.77679 106.835 3.64857 106.622C3.45429 106.299 3.26623 105.984 3.08438 105.676L2.95849 105.463L2.93284 105.42C0.92322 102 2.26841 100.513 2.26841 100.513C2.26841 100.513 3.11236 99.2566 4.2011 97.5954C4.25472 97.5108 4.31067 97.4262 4.36895 97.339C4.83522 96.6212 5.34812 95.8367 5.85169 95.0522L6.24103 94.4421C6.3879 94.2139 6.53245 93.9857 6.67233 93.7601C6.72828 93.6755 6.7819 93.5884 6.83319 93.5038C7.90794 91.7964 8.79386 90.3069 8.9757 89.7788C9.26013 88.9456 11.0739 86.482 12.8807 84.3208C14.3052 82.6134 15.7226 81.0958 16.3591 80.7317C17.8022 79.8934 18.3967 77.1836 18.3967 77.1836C18.3967 77.1836 21.537 75.9736 21.9613 75.0404C22.3856 74.1073 28.3282 69.9131 28.3282 69.9131C28.3282 69.9131 30.7319 68.2109 31.704 67.1854C31.8417 67.0513 31.9617 66.8969 32.0607 66.7265C32.3988 66.06 34.6066 65.5114 35.5041 65.314C35.7373 65.2627 35.8818 65.2345 35.8818 65.2345C36.2442 64.5104 36.7022 63.8495 37.241 63.2733C37.607 62.917 38.064 61.689 38.4486 60.4995C38.8659 59.2022 39.19 57.9537 39.19 57.9537C39.8708 55.4337 41.2276 56.1797 41.2276 56.1797C41.2257 56.5239 41.2554 56.8675 41.3162 57.2052C41.8827 60.2815 44.9601 61.5634 46.5757 63.0016C48.3592 64.5859 51.1591 68.6954 53.3669 69.5337C55.1947 70.2285 57.3139 72.8485 57.9853 73.7227L58.0366 73.7894C58.1485 73.9329 58.2045 74.015 58.2045 74.015C58.2045 74.015 59.4564 73.9432 60.2188 73.9278H60.4962C60.6513 73.9107 60.7986 73.8448 60.9205 73.7381C61.6782 73.1715 62.8066 71.5103 63.2985 71.1283C63.8907 70.6592 64.4875 63.099 64.4875 63.099L64.5178 63.0836C66.6323 61.9941 68.9007 72.8998 68.9007 72.8998C68.9007 72.8998 72.8897 74.2072 73.23 75.1404C73.2953 75.325 73.5961 75.6531 74.0483 76.0505C76.1077 77.7811 78.2996 79.3122 80.5994 80.6266C80.6507 80.6548 80.6997 80.683 80.751 80.7061C80.7972 80.7335 80.8447 80.7583 80.8932 80.7804C80.9795 80.8266 81.0634 80.8676 81.1426 80.906C81.2685 80.9676 81.3851 81.0188 81.4923 81.0599L81.6322 81.1137C81.9664 81.2359 82.281 81.415 82.5648 81.6444C82.6487 81.711 82.7326 81.7802 82.8142 81.8546C83.1317 82.1451 83.4236 82.4679 83.6861 82.8185C83.7258 82.8698 83.7631 82.9236 83.8004 82.9749C83.9776 83.2184 84.1361 83.4594 84.2667 83.6825C84.4809 84.0266 84.6763 84.3844 84.8518 84.7541C84.8518 84.7541 88.3302 91.2888 89.4353 92.0323C90.5403 92.7757 91.2187 100.341 91.2187 100.341L87.4886 115.546C87.4886 115.546 87.3137 119.391 86.9873 123.314C86.8055 125.513 86.5747 127.751 86.2996 129.361Z"
            fill="#CED7E7"></path>
          <path
            d="M58.2044 74.4764C58.2044 74.4764 55.7029 75.9684 53.7492 76.1094C53.4935 76.1226 53.2372 76.1062 52.9845 76.0607C50.9376 75.7198 47.9348 73.8688 47.9348 73.8688L51.4575 69.6208L55.7425 71.9563L57.3185 73.5689L58.2044 74.4764Z"
            fill="#63667E"></path>
          <path
            opacity="0.1"
            d="M78.24 36.455C78.1514 36.5928 78.0507 36.7208 77.9393 36.837C76.713 38.1188 74.5355 37.5881 72.8639 37.2907C71.4114 37.0296 69.9925 36.5786 68.6372 35.9474C67.4575 35.3936 66.0424 34.7168 64.9816 35.5116C64.5737 35.8141 64.2939 36.2986 63.8696 36.5652C63.4453 36.8318 62.9044 36.8498 62.4032 36.8575C60.7712 36.8575 59.1393 36.878 57.547 36.4729C55.1713 35.8628 52.7141 34.3272 50.455 35.3398C48.6878 36.1294 47.7297 38.2444 47.2517 40.2774C47.0186 41.2746 46.8461 42.3283 46.3192 43.1743C45.7923 44.0203 44.7735 44.6202 43.9062 44.2228C42.6263 43.6358 42.4375 41.2464 40.8941 41.1259C39.1993 40.9952 39.2202 42.9205 39.7145 44.3126C40.4465 46.3635 41.4047 48.4144 41.4467 50.5525C39.6251 46.9648 38.7644 42.8834 38.9641 38.7804C39.1638 34.6773 40.4157 30.7202 42.575 27.3669C42.9508 27.111 43.245 26.7329 43.4167 26.285C43.4339 26.2245 43.4479 26.1628 43.4586 26.1004C43.5869 25.3852 43.2255 24.634 43.2045 23.8855C43.1229 22.0576 44.9227 20.7834 46.5733 20.5527C47.6714 20.3989 48.7951 20.5168 49.8955 20.4784C50.4498 20.4649 51.001 20.3841 51.5391 20.2374C52.4674 19.9315 53.3367 19.4405 54.1036 18.7889C56.7491 18.0998 59.4952 18.0166 62.1712 18.5445C64.8472 19.0725 67.3958 20.2003 69.6584 21.8578C71.9211 23.5153 73.8493 25.667 75.3232 28.1792C76.7972 30.6913 77.7853 33.5101 78.226 36.4601L78.24 36.455Z"
            fill="black"></path>
          <path
            d="M78.6389 34.9451C78.5227 35.4521 78.2805 35.9137 77.9395 36.2782C76.7132 37.56 74.5357 37.0267 72.8641 36.7294C71.4115 36.4739 69.9923 36.0263 68.6374 35.3963C67.4577 34.8451 66.0426 34.1683 64.9818 34.963C64.5738 35.2655 64.2941 35.75 63.8698 36.0167C63.4455 36.2833 62.9046 36.3012 62.4034 36.3064C60.7714 36.3192 59.1395 36.3294 57.5472 35.9244C55.1715 35.3117 52.7143 33.7786 50.4552 34.7887C48.688 35.5783 47.7298 37.6959 47.2519 39.7288C47.0188 40.7261 46.8463 41.7797 46.3194 42.6232C45.7925 43.4666 44.7737 44.0716 43.9064 43.6743C42.6265 43.0872 42.4377 40.6979 40.8943 40.5774C39.1994 40.4466 39.2204 42.3719 39.7147 43.764C40.5819 46.1918 41.7616 48.6067 41.3746 51.1806C40.9899 51.1806 40.3535 51.1652 39.9758 51.155C40.2695 50.6038 39.71 49.9475 39.1528 49.7604C38.5956 49.5732 37.9452 49.5758 37.5209 49.1297C37.0966 48.6836 37.0942 47.994 37.1385 47.3762C37.2352 46.0556 37.529 44.7616 38.0081 43.5461C38.3135 42.777 38.7075 41.9438 38.4744 41.1388C38.3344 40.7739 38.166 40.4231 37.9708 40.0903C37.4859 39.0648 37.6001 37.783 38.0151 36.7242C38.1923 36.273 38.3205 35.8475 38.4674 35.4424C38.6529 34.8666 38.9213 34.3274 39.2624 33.8453C39.7963 33.1146 40.3185 32.0148 39.7287 31.3355C39.5794 31.1637 39.8779 31.0458 39.7823 30.8227C39.7654 30.7846 39.7536 30.744 39.7473 30.7022C39.7199 30.4322 39.7793 30.1601 39.9152 29.9331C39.9427 29.8742 39.973 29.8168 40.0061 29.7614C40.0329 29.7028 40.0633 29.6463 40.097 29.5922C40.6132 28.6444 41.2993 27.8219 42.1136 27.1747C42.6195 26.7722 43.2117 26.3851 43.4122 25.7339C43.6453 24.9648 43.235 24.147 43.2 23.3343C43.1184 21.5065 44.9182 20.2323 46.5688 20.0016C48.2194 19.7709 49.9306 20.1529 51.5393 19.6837C53.8217 19.0223 55.4256 16.8073 57.4982 15.5639C58.632 14.8973 59.8894 14.5244 61.1743 14.4737C62.4592 14.4231 63.7376 14.696 64.9119 15.2717C67.3318 16.4868 69.1573 18.9428 71.6845 19.8657C72.5797 20.1939 73.5495 20.3246 74.3562 20.8681C75.2887 21.4988 75.8553 22.6011 76.3402 23.6881C77.0792 25.3365 77.2284 26.9926 77.739 28.7385C78.1446 30.1229 78.7065 31.9328 78.7531 33.5274C78.7793 34.0036 78.7408 34.4814 78.6389 34.9451Z"
            fill="#896363"></path>
          <g opacity="0.1">
            <path
              d="M40.0315 31.7327C40.0688 31.5687 40.0725 31.3975 40.0422 31.2317C40.012 31.0659 39.9486 30.9095 39.8566 30.7739C39.9172 30.9739 39.6538 31.0893 39.7983 31.2559C39.9135 31.389 39.994 31.5537 40.0315 31.7327Z"
              fill="black"></path>
            <path
              d="M39.8497 30.1869C39.8223 30.2764 39.8058 30.3695 39.8008 30.4638C39.8451 30.3817 39.9057 30.2971 39.8497 30.1869Z"
              fill="black"></path>
            <path
              d="M78.0046 35.6526C76.776 36.9344 74.6008 36.4038 72.9246 36.1038C71.473 35.8468 70.0552 35.3966 68.7025 34.763C67.5205 34.2093 66.1077 33.5325 65.0446 34.3272C64.6389 34.6297 64.3592 35.1142 63.9325 35.3809C63.5059 35.6475 62.9674 35.6654 62.4661 35.6706C60.8342 35.6706 59.2022 35.6936 57.6076 35.286C55.2343 34.6759 52.777 33.1454 50.5179 34.1529C48.7508 34.945 47.7926 37.0601 47.3147 39.093C47.0815 40.0903 46.9114 41.1439 46.3821 41.9899C45.8529 42.8359 44.8341 43.4358 43.9692 43.041C42.6893 42.4514 42.5004 40.0646 40.9571 39.9442C39.7518 39.8493 39.4161 40.7978 39.4977 41.8515C39.5676 41.0465 39.9639 40.4261 40.9571 40.503C42.5004 40.6235 42.6893 43.0128 43.9692 43.5999C44.8341 43.9973 45.8552 43.3999 46.3821 42.5488C46.909 41.6977 47.0815 40.6492 47.3147 39.6545C47.7926 37.6215 48.7508 35.5039 50.5179 34.7143C52.777 33.7042 55.2343 35.227 57.6076 35.8474C59.1929 36.2551 60.8388 36.2423 62.4661 36.2294C62.9674 36.2294 63.4966 36.2141 63.9325 35.9423C64.3685 35.6706 64.6319 35.1912 65.0446 34.8861C66.1077 34.0939 67.5205 34.7707 68.7025 35.3219C70.0555 35.9551 71.4731 36.4062 72.9246 36.6653C74.6008 36.9626 76.776 37.4984 78.0046 36.2115C78.6713 35.5116 78.8718 34.499 78.8275 33.3915C78.7902 34.2708 78.5571 35.0681 78.0046 35.6526Z"
              fill="black"></path>
            <path
              d="M43.2815 22.8702C43.2686 22.9979 43.2639 23.1264 43.2675 23.2548C43.2908 23.788 43.475 24.3213 43.5333 24.8417C43.6196 24.2033 43.3515 23.5368 43.2815 22.8702Z"
              fill="black"></path>
            <path
              d="M38.5442 41.0593C38.5634 41.1359 38.5782 41.2138 38.5885 41.2926C38.6262 41.0281 38.6111 40.7578 38.5442 40.5004C38.4052 40.1342 38.2366 39.7824 38.0406 39.4493C37.8654 39.0701 37.7616 38.6559 37.7352 38.2316C37.6878 38.8441 37.7934 39.4593 38.0406 40.0107C38.2371 40.3427 38.4056 40.6936 38.5442 41.0593Z"
              fill="black"></path>
            <path
              d="M41.4373 50.5396L40.0735 50.5165C40.1053 50.6071 40.118 50.7045 40.1108 50.8013C40.1035 50.898 40.0764 50.9918 40.0315 51.0754C40.4162 51.0754 41.055 51.0908 41.4303 51.101C41.4955 50.6623 41.5182 50.2171 41.4979 49.7731C41.4926 50.0297 41.4724 50.2858 41.4373 50.5396Z"
              fill="black"></path>
            <path
              d="M39.2062 49.1219C38.649 48.9374 38.0009 48.9348 37.5859 48.4862C37.3416 48.1923 37.2039 47.8101 37.1989 47.412C37.1639 48.0016 37.1989 48.6374 37.5859 49.0476C38.0009 49.4962 38.649 49.4988 39.2062 49.6834C39.3875 49.7414 39.5561 49.8395 39.7016 49.9718C39.8472 50.104 39.9666 50.2676 40.0525 50.4525C40.288 49.9218 39.7471 49.2988 39.2062 49.1219Z"
              fill="black"></path>
          </g>
          <path
            opacity="0.1"
            d="M81.6206 164.378C81.3595 164.212 81.0937 164.055 80.8233 163.907C80.2661 163.598 79.695 163.32 79.112 163.076C76.4193 161.948 73.5355 161.538 70.6119 161.607C69.4463 162.097 68.6886 162.448 68.6886 162.448L67.2058 162.94L66.9587 163.022C66.9424 162.843 66.9237 162.663 66.9074 162.481C66.8911 162.299 66.8725 162.125 66.8538 161.945C66.3316 156.508 65.9213 150.922 65.9213 150.922V146.097V145.535L65.8933 131.32L65.6602 126.634L65.5506 124.56L65.5296 124.165L65.4876 123.355L65.4643 122.873C65.4129 122.72 65.3693 122.564 65.3338 122.406C65.3174 122.342 65.3011 122.27 65.2871 122.196C65.2289 121.94 65.1659 121.609 65.1006 121.25C64.674 118.892 64.1401 114.915 64.1075 114.108C64.0655 113.031 63.2169 106.591 63.2169 106.591C63.1306 103.046 60.4193 96.3699 59.7362 95.1112C59.0531 93.8524 58.2908 86.2897 58.5472 85.8821C58.6801 85.6642 58.7663 84.3747 58.82 83.1851C58.82 83.0492 58.8316 82.9159 58.8363 82.7852C58.8713 81.8546 58.8876 81.0778 58.8876 81.0778L61.5546 80.4984L62.2704 80.3446L62.3263 80.3318L62.3496 80.3831C62.4266 80.5394 62.6667 81.0394 62.9488 81.6956C62.9814 81.7649 63.0117 81.8392 63.0444 81.9136C63.0584 81.9494 63.0747 81.9853 63.091 82.0212C63.6132 83.2774 64.217 84.931 64.1914 85.8821C64.1494 87.5638 65.891 91.6246 65.891 91.6246C66.0588 92.5578 69.7517 101.843 69.7517 101.843C69.7517 101.843 72.7661 110.944 72.5959 112.439C72.4257 113.933 74.039 123.827 74.039 123.827L75.6943 134.002C76.4986 136.006 77.5594 140.626 77.5594 140.626L77.9627 143.246L78.0396 143.746L79.1144 150.737L79.6413 154.162C79.6413 154.162 79.8627 155.982 80.1984 158.008C80.2264 158.19 80.2591 158.374 80.2917 158.559C80.4985 159.892 80.7923 161.207 81.1706 162.494C81.3582 163.11 81.5086 163.74 81.6206 164.378Z"
            fill="black"></path>
          <path
            d="M81.9096 164.56C81.814 164.499 81.7184 164.437 81.6205 164.378C81.3594 164.212 81.0936 164.055 80.8232 163.907C80.2661 163.598 79.6949 163.32 79.112 163.076C76.4193 161.948 73.5354 161.538 70.6119 161.607C69.4462 162.097 68.6885 162.448 68.6885 162.448L67.2058 162.94C67.1871 162.761 67.1708 162.581 67.1521 162.399C67.1335 162.217 67.1195 162.071 67.1055 161.907C66.5833 156.482 66.173 150.922 66.173 150.922V146.051V145.489L66.145 131.31L65.9119 126.834L65.8652 125.906L65.8326 125.278L65.7906 124.447L65.7487 123.604L65.7184 122.996V122.863C65.7184 122.85 65.7184 122.834 65.702 122.819C65.6577 122.681 65.6041 122.47 65.5458 122.204L65.5179 122.076C65.5062 122.017 65.4922 121.953 65.4806 121.888C65.0423 119.702 64.3988 114.987 64.3638 114.103C64.3219 113.026 63.4733 106.586 63.4733 106.586C63.387 103.041 60.6756 96.3648 59.9926 95.1061C59.3095 93.8473 58.5495 86.2846 58.8036 85.8769C58.9504 85.6206 59.0367 84.0644 59.0927 82.7801C59.0927 82.6775 59.0927 82.5775 59.0927 82.4827C59.123 81.6905 59.1346 81.0727 59.1346 81.0727L61.6152 80.5343L62.2446 80.3984L62.3426 80.3779L62.5757 80.3267C62.5757 80.3267 62.8811 80.9471 63.2471 81.8008L63.2938 81.9084C63.8276 83.1749 64.4594 84.8976 64.4408 85.8769C64.3988 87.5587 66.1403 91.6195 66.1403 91.6195C66.3082 92.5527 70.001 101.838 70.001 101.838C70.001 101.838 73.0155 110.939 72.8453 112.434C72.6751 113.928 74.2884 123.821 74.2884 123.821L75.9437 133.997C76.748 136.001 77.8087 140.621 77.8087 140.621L78.1841 143.062L78.261 143.556L79.1073 149.073L79.8883 154.157C79.8883 154.157 80.1214 155.969 80.4432 158.002C80.4735 158.187 80.5038 158.372 80.5364 158.559C80.7429 159.898 81.0367 161.219 81.4153 162.512C81.622 163.182 81.7871 163.866 81.9096 164.56Z"
            fill="#63667E"></path>
          <path
            d="M79.8068 32.8941C79.8068 32.8941 78.9162 34.1554 78.1119 34.1554C77.3076 34.1554 74.1766 34.0144 72.5446 33.4555C70.9127 32.8967 62.9115 32.4737 62.9115 32.4737C62.9115 32.4737 51.5811 32.5198 51.1988 32.0994C50.8164 31.6789 44.1534 29.4383 43.475 29.5793C43.3328 29.6101 42.9854 29.6767 42.5215 29.7613L41.9899 29.8562C41.1856 29.9972 40.1808 30.1612 39.2623 30.2817C38.1269 30.4279 37.1291 30.5022 36.812 30.374V29.2999C36.812 29.2999 38.1269 27.1977 38.2108 26.5952C38.2948 25.9928 39.3998 17.2584 42.286 14.1334C43.4784 11.6269 45.408 9.63878 47.76 8.49334C51.665 6.62445 55.5701 5.04012 55.5701 5.04012L56.2531 4.93244L58.4563 4.57353C58.5232 4.50022 58.5958 4.43333 58.6731 4.37357C59.2839 3.86084 61.135 2.74566 63.5479 5.14266L63.9746 5.89125C63.9746 5.89125 71.3999 7.80372 74.8363 14.4769C78.2727 21.15 78.4453 27.6848 78.6994 30.6714C78.6994 30.6714 78.5292 31.5123 78.8696 31.8379C78.9928 31.9576 79.1103 32.0842 79.2216 32.2173C79.2519 32.2506 79.2822 32.2839 79.3102 32.3198C79.4081 32.4275 79.499 32.5403 79.5736 32.6326C79.5825 32.6398 79.5904 32.6484 79.597 32.6582C79.6152 32.6825 79.6346 32.7056 79.6552 32.7275L79.8068 32.8941Z"
            fill="#FED253"></path>
          <path
            opacity="0.05"
            d="M79.8067 32.8941C79.8067 32.8941 78.9161 34.1554 78.1118 34.1554C77.3075 34.1554 74.1765 34.0144 72.5445 33.4556C70.9126 32.8967 62.9114 32.4737 62.9114 32.4737C62.9114 32.4737 51.581 32.5198 51.1987 32.0994C50.8164 31.679 44.1534 29.4383 43.4749 29.5793C43.3327 29.6101 42.9853 29.6768 42.5214 29.7614L42.4002 28.941L42.3699 28.7385C42.3699 28.7385 55.2296 25.7057 63.802 27.2951C72.3743 28.8846 78.6993 30.6535 78.6993 30.6535C78.6993 30.6535 78.5291 31.4944 78.8695 31.82C78.9927 31.9397 79.1102 32.0663 79.2215 32.1994C79.2518 32.2327 79.2821 32.266 79.3101 32.3019C79.408 32.4096 79.499 32.5224 79.5736 32.6147C79.5825 32.6219 79.5903 32.6305 79.5969 32.6403C79.6151 32.6646 79.6346 32.6877 79.6552 32.7095L79.8067 32.8941Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M78.6388 34.945C77.0511 35.0809 74.1253 34.6553 72.8453 34.4477C72.4817 34.3887 72.125 34.3169 71.7659 34.2298C70.3928 33.9016 66.1707 32.9813 63.6062 33.4068C60.5078 33.9196 51.7653 32.9864 51.7653 32.9864C51.7653 32.9864 46.3752 31.7738 44.2094 30.7945C43.4144 30.433 42.0855 30.3202 40.7636 30.4997C40.4265 30.5459 40.0919 30.6118 39.7612 30.6971C37.9567 31.1662 36.4343 32.2353 36.6978 34.058C36.5969 33.9251 36.5035 33.7855 36.418 33.6401C36.3038 31.9738 36.7747 30.9816 37.4275 30.3971L37.5813 30.3279C38.3788 30.0787 39.1903 29.8878 40.0106 29.7562C40.1388 29.7331 40.2717 29.7126 40.4069 29.6947C42.7266 29.3512 46.0814 29.2742 48.9117 30.8406C48.9117 30.8406 51.5415 32.1968 53.325 32.1968C55.1084 32.1968 69.6211 32.3378 73.0179 33.4094C73.6941 33.6242 74.3837 33.7845 75.0811 33.8888C76.3195 34.0644 77.5779 33.9339 78.7646 33.5068C78.7889 33.9905 78.7465 34.4754 78.6388 34.945Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M79.8068 32.8941C79.8068 32.8941 78.9162 34.1554 78.1119 34.1554C77.3076 34.1554 74.1766 34.0144 72.5446 33.4556C70.9127 32.8967 62.9115 32.4737 62.9115 32.4737C62.9115 32.4737 51.5811 32.5198 51.1988 32.0994C50.8164 31.679 44.1534 29.4383 43.475 29.5793C43.3328 29.6101 42.9854 29.6768 42.5215 29.7614L41.9899 29.8562C41.0667 29.851 40.1477 29.9944 39.2623 30.2818C38.1269 30.4279 37.1291 30.5022 36.812 30.3741V30.1613C37.0565 30.0053 37.3113 29.8699 37.5744 29.7562C39.1476 29.2718 40.7676 28.9947 42.4003 28.9307C44.4355 28.8487 46.8158 29.1102 48.9071 30.269C48.9071 30.269 51.5368 31.6251 53.3203 31.6251C55.1038 31.6251 69.6164 31.7636 73.0132 32.8377C73.6898 33.0505 74.3793 33.2099 75.0765 33.3146C76.6063 33.5266 78.1598 33.2812 79.5736 32.6044C79.5825 32.6116 79.5904 32.6203 79.597 32.6301C79.6152 32.6543 79.6347 32.6774 79.6552 32.6993L79.8068 32.8941Z"
            fill="black"></path>
          <path
            d="M36.7303 34.0144C36.7303 34.0144 33.8861 31.6328 37.5789 30.0459C37.5789 30.0459 44.0298 27.854 48.9116 30.5586C48.9116 30.5586 51.5414 31.9096 53.3249 31.9096C55.1084 31.9096 69.621 32.0506 73.0178 33.1248C73.6943 33.3379 74.3838 33.4972 75.081 33.6016C76.8882 33.8426 78.7188 33.4601 80.3196 32.507C80.5527 32.366 80.7625 32.2942 80.8255 32.3762C81.0376 32.6582 80.8698 34.2913 79.0024 34.6168C77.5453 34.8732 74.2348 34.3887 72.8429 34.1656C72.4816 34.1067 72.1226 34.0323 71.7659 33.9477C70.3927 33.6196 66.1706 32.6992 63.5945 33.1248C60.4984 33.6375 51.7536 32.7044 51.7536 32.7044C51.7536 32.7044 46.3658 31.4918 44.2 30.5099C42.0341 29.528 35.9237 30.374 36.7303 34.0144Z"
            fill="#FED253"></path>
          <path
            opacity="0.1"
            d="M60.7084 8.99066C60.4752 8.62149 57.4794 5.9835 56.2578 4.91703L58.4609 4.55812C58.5279 4.48481 58.6004 4.41791 58.6777 4.35815C60.2794 6.20654 60.7084 8.99066 60.7084 8.99066Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M50.9912 23.1394L50.0144 24.7263L53.7492 24.5879L53.8332 22.8138L50.9912 23.1394Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M73.7803 25.0544L74.2046 26.5003L76.5826 26.9208L75.5638 25.1929L73.7803 25.0544Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M32.9536 73.5945C33.2077 74.0611 41.568 86.1563 43.7757 85.8205C45.9835 85.4847 32.9536 73.5945 32.9536 73.5945Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M60.9648 84.6489C60.9648 84.6489 63.0024 86.7973 62.704 87.6356C62.4056 88.4739 60.9648 84.6489 60.9648 84.6489Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M38.7261 99.3976C38.7261 99.3976 36.9426 108.591 37.8775 108.883C38.8124 109.175 38.7261 99.3976 38.7261 99.3976Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M61.6433 135.099C61.9394 136.032 64.4013 142.1 64.9538 142.426C65.5064 142.751 61.6433 135.099 61.6433 135.099Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M90.2488 110.178C90.1626 110.503 88.041 112.418 88.5073 113.118C88.9736 113.818 90.2488 110.178 90.2488 110.178Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M73.7801 127.21C73.7382 127.446 73.3139 132.338 74.1205 133.279C74.9272 134.219 73.7801 127.21 73.7801 127.21Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M95.527 152.621C94.9115 152.998 94.275 153.362 93.6269 153.711C92.9275 154.085 92.2281 154.441 91.5147 154.777C91.2303 154.913 90.9459 155.046 90.6638 155.175C90.2348 155.37 89.8105 155.557 89.3908 155.736C88.1156 156.285 86.887 156.762 85.7936 157.164C85.3693 157.32 84.9636 157.464 84.5859 157.597C82.6835 158.261 81.42 158.623 81.42 158.623C81.1313 158.555 80.8359 158.528 80.541 158.543C80.4594 158.543 80.3755 158.543 80.2893 158.543C79.8944 158.575 79.5014 158.63 79.1119 158.707C76.5078 159.22 72.8289 160.658 70.6118 161.599C69.4461 162.089 68.6884 162.44 68.6884 162.44L67.2057 162.932L66.9586 163.014C65.3523 163.553 63.0932 164.317 62.2796 164.635C60.9647 165.147 49.5481 167.76 49.5481 167.76C48.5051 168.073 47.4397 168.287 46.3634 168.401C43.7115 168.668 41.0459 168.735 38.3856 168.6C35.7138 168.79 31.3915 168.144 28.876 167.708L28.475 167.639C27.5028 167.465 26.885 167.339 26.885 167.339L27.2114 166.844L33.9047 156.69L33.9443 156.628L40.1807 147.171L40.4138 146.827L40.9804 145.969C40.9804 145.969 41.3207 145.456 42.631 145.423C42.7848 145.423 42.9527 145.423 43.1369 145.423C44.2374 145.52 45.3232 145.763 46.3704 146.148L46.6735 146.248C51.1893 147.671 58.1694 147.315 58.1694 147.315C58.1694 147.315 62.5127 146.545 65.9258 146.084L66.1799 146.048C67.2952 145.875 68.4183 145.768 69.5441 145.728C71.6236 145.774 76.1231 144.561 76.1231 144.561C77.0906 144.333 77.4986 144.141 78.0442 143.713C78.1164 143.656 78.1934 143.595 78.2773 143.528C78.5104 143.336 78.7785 143.1 79.1236 142.808C79.753 142.277 80.6366 141.557 82.0261 140.547C82.1473 140.459 82.2756 140.372 82.4131 140.29C82.5507 140.208 82.7255 140.098 82.8934 140.006C84.239 139.305 85.6577 138.788 87.1178 138.467C88.3289 138.181 89.5579 137.995 90.7943 137.911H90.9785C94.4755 137.706 98.0471 138.365 100.136 140.526C100.501 140.906 100.82 141.337 101.083 141.808C101.21 142.032 101.324 142.265 101.423 142.505C101.613 142.964 101.755 143.446 101.845 143.941C101.862 144.033 101.876 144.125 101.887 144.218C101.887 144.246 101.887 144.272 101.887 144.3C101.887 144.374 101.901 144.448 101.906 144.523C102.092 147.591 99.1965 150.365 95.527 152.621Z"
            fill="black"></path>
          <path
            d="M26.885 166.788C26.885 166.788 34.4386 168.326 38.3856 168.047C38.3856 168.047 45.6431 168.467 49.5481 167.208C49.5481 167.208 60.9717 164.594 62.2796 164.081C63.5875 163.568 68.6884 161.886 68.6884 161.886C68.6884 161.886 78.62 157.313 81.42 158.059C81.42 158.059 103.405 151.806 101.833 143.359C100.262 134.912 86.3857 136.827 82.0168 139.998C77.6478 143.169 78.2866 143.5 76.1185 144.013C76.1185 144.013 71.619 145.225 69.5394 145.179C67.4598 145.133 58.1647 146.766 58.1647 146.766C58.1647 146.766 50.8653 147.14 46.3681 145.599C41.8709 144.059 40.978 145.412 40.978 145.412L26.885 166.788Z"
            fill="#FFA2A2"></path>
          <path
            opacity="0.1"
            d="M43.2653 144.864C43.2664 144.874 43.2664 144.884 43.2653 144.894C43.249 145.085 43.2041 145.271 43.1324 145.446C42.2371 147.861 37.1548 154.375 37.1548 154.375C36.9231 155.149 36.6435 155.904 36.3179 156.636C35.6176 158.2 34.8109 159.704 33.9049 161.135C32.5619 163.276 31.0956 165.32 29.515 167.255H29.5033C29.3022 167.419 29.0928 167.57 28.8762 167.708C28.3283 168.067 27.5053 168.511 26.729 168.565C26.5968 168.573 26.4642 168.569 26.3327 168.552C26.4143 168.552 26.4935 168.531 26.5658 168.516L26.2814 168.424L25.8921 168.29C25.2393 168.065 24.5919 167.818 23.95 167.549L23.5607 167.385C22.939 167.122 22.3305 166.839 21.7353 166.537L21.3459 166.342C20.7242 166.024 20.1157 165.688 19.5205 165.334C19.306 165.211 19.0938 165.078 18.884 164.952C18.2499 164.563 17.6282 164.154 17.0189 163.727C16.3724 163.274 15.7398 162.802 15.1212 162.309C14.6549 161.358 14.2703 160.515 14.0605 160.061C13.6781 159.218 13.6455 158.01 13.6921 157.136C13.6921 157.046 13.6921 156.962 13.7061 156.88C13.7457 156.331 13.8063 155.954 13.8063 155.954C13.4609 155.446 13.1492 154.912 12.8738 154.354C12.7156 154.078 12.6256 153.76 12.6127 153.434C12.6232 153.303 12.6122 153.171 12.58 153.044C12.4005 152.234 11.6289 150.842 10.9155 149.968C10.3839 149.324 10.3513 146.92 10.4026 145.215C10.4329 144.189 10.4912 143.436 10.4912 143.436C10.3867 143.362 10.3085 143.25 10.2697 143.12C10.0822 142.559 9.95545 141.976 9.892 141.382C9.892 141.298 9.87102 141.213 9.85936 141.126C9.71015 139.949 9.64254 138.767 9.64254 138.767C7.91735 137.386 7.09671 135.23 6.71437 133.307L6.66541 133.05C6.45543 131.869 6.36629 130.665 6.39964 129.461C6.39964 129.346 6.39964 129.259 6.39964 129.205C6.39964 129.151 6.39964 129.141 6.39964 129.141C6.39964 129.141 6.62811 123.585 7.2669 121.417C7.29254 121.324 7.32052 121.24 7.3485 121.16C7.39556 121.024 7.45657 120.894 7.53034 120.773C7.76348 120.432 7.929 119.789 8.06655 119.027C8.16214 118.499 8.2414 117.912 8.29969 117.328C8.35331 116.841 8.39527 116.356 8.42791 115.907C8.51883 114.708 8.54681 113.772 8.54681 113.772L8.11551 111.434C7.99661 110.795 7.90569 110.152 7.84274 109.509C7.84274 109.424 7.82409 109.339 7.81477 109.252C7.70573 108.064 7.68624 106.868 7.75648 105.676C7.75648 105.589 7.75648 105.504 7.77047 105.42C7.95251 102.705 8.59788 100.052 9.67285 97.6004L9.78942 97.3441C9.94484 97.0022 10.108 96.6664 10.279 96.3365C10.4026 96.093 10.5331 95.852 10.6683 95.6136C11.0268 94.9752 11.4159 94.3582 11.834 93.7652C11.8946 93.678 11.9576 93.5934 12.0205 93.5088C12.748 92.5171 13.5565 91.6006 14.4358 90.7709C16.7905 88.5456 18.9516 87.5791 20.9146 87.5048C29.4987 87.1715 34.3129 103.866 35.0916 106.791C35.1662 107.073 35.2035 107.227 35.2035 107.227C35.2035 107.227 38.6818 111.054 37.663 112.734C37.4655 113.103 37.3453 113.517 37.311 113.944C37.0312 116.202 37.8332 119.922 37.8332 119.922C37.8332 119.922 38.1177 120.948 38.9476 123.403L39.1924 124.121C39.7123 125.659 39.8335 128.241 39.5351 130.553C39.2484 132.768 38.5746 134.727 37.4952 135.23C35.2874 136.255 35.8819 137.28 36.3901 138.124C36.6921 138.729 36.9442 139.362 37.1431 140.016C37.4625 140.962 37.7586 141.957 37.8705 142.344C37.9032 142.451 37.9195 142.51 37.9195 142.51C38.2287 142.379 38.55 142.284 38.8777 142.228C39.295 142.164 39.7076 142.21 39.7869 142.603C39.8289 142.813 40.069 143.061 40.407 143.31C41.4095 144.069 43.2653 144.864 43.2653 144.864Z"
            fill="black"></path>
          <path
            d="M42.7569 144.864C42.7427 145.059 42.6977 145.25 42.6241 145.428C41.7335 147.845 36.6465 154.375 36.6465 154.375C36.4138 155.148 36.1341 155.904 35.8095 156.636C35.2469 157.899 34.6107 159.121 33.9048 160.294C32.4434 162.718 30.8243 165.023 29.0603 167.19L29.0066 167.255C29.0066 167.255 28.8015 167.426 28.4751 167.647C27.8919 168.056 27.2493 168.353 26.575 168.524L26.2906 168.431L25.9013 168.298C25.2485 168.072 24.6012 167.825 23.9593 167.557L23.5699 167.393C22.9482 167.13 22.3398 166.847 21.7445 166.544L21.3552 166.35C20.7335 166.032 20.125 165.696 19.5297 165.342C19.3152 165.219 19.1031 165.086 18.8932 164.96C18.2591 164.57 17.6374 164.162 17.0282 163.735C16.3816 163.282 15.749 162.809 15.1304 162.317C14.8445 162.091 14.5616 161.86 14.2818 161.622C13.9671 160.966 13.7153 160.412 13.5591 160.069C13.1768 159.225 13.1441 158.018 13.1908 157.144C13.1908 157.054 13.1908 156.969 13.2048 156.887C13.2444 156.339 13.305 155.962 13.305 155.962C13.305 155.962 13.1162 155.682 12.8877 155.303C12.7595 155.093 12.6219 154.849 12.4984 154.608C12.2652 154.157 12.0834 153.701 12.1183 153.442C12.1231 153.397 12.1231 153.353 12.1183 153.308C12.1148 153.222 12.1031 153.136 12.0834 153.052C11.9039 152.242 11.1299 150.85 10.4165 149.976C9.88491 149.332 9.85227 146.927 9.90123 145.223C9.90123 145.135 9.90123 145.051 9.90123 144.966C9.93387 144.082 9.98283 143.443 9.98283 143.443C9.71939 143.318 9.51656 142.387 9.386 141.393L9.35103 141.136C9.20183 139.959 9.13422 138.778 9.13422 138.778C7.40902 137.396 6.58838 135.24 6.20837 133.317C5.94363 131.97 5.84173 130.591 5.9053 129.215C5.9053 129.174 5.9053 129.151 5.9053 129.151C5.9053 129.151 6.10579 123.568 6.74458 121.396C6.77023 121.304 6.7982 121.219 6.82618 121.14C6.88212 121.007 6.95174 120.881 7.03367 120.765C7.38804 120.222 7.6235 118.914 7.77737 117.576L7.80535 117.32C7.99885 115.525 8.05247 113.764 8.05247 113.764L7.61884 111.426C7.50072 110.785 7.40979 110.143 7.34607 109.501C7.33441 109.416 7.32742 109.329 7.3181 109.244C7.20908 108.056 7.18959 106.86 7.25981 105.668C7.25981 105.581 7.25981 105.496 7.27613 105.412C7.45706 102.697 8.10249 100.044 9.17851 97.5927C9.21581 97.5055 9.25312 97.4209 9.29508 97.3363C9.59483 96.6705 9.92795 96.0235 10.2929 95.3982C10.4188 95.1803 10.547 94.965 10.6822 94.7522C10.8944 94.4138 11.1159 94.0805 11.3467 93.7575L11.5332 93.5011C12.2544 92.5131 13.0558 91.5993 13.9275 90.7708C16.492 88.3533 18.8233 87.4202 20.9215 87.5048C29.1862 87.8303 33.8255 103.925 34.5879 106.791C34.6625 107.073 34.6998 107.227 34.6998 107.227C34.6998 107.227 38.1805 111.054 37.1617 112.734C36.9642 113.103 36.8439 113.517 36.8097 113.944C36.5276 116.202 37.3319 119.922 37.3319 119.922C37.3319 119.922 37.6163 120.947 38.4463 123.403C38.5209 123.632 38.6025 123.87 38.6794 124.121C39.1993 125.659 39.3205 128.241 39.0221 130.553C38.7354 132.771 38.0639 134.727 36.9822 135.23C34.7767 136.255 35.3689 137.28 35.8795 138.124C36.1815 138.728 36.4335 139.362 36.6325 140.016C37.0358 141.223 37.4065 142.51 37.4065 142.51C37.5591 142.446 37.7147 142.39 37.8728 142.344C38.1971 142.226 38.5406 142.187 38.8799 142.228C38.9738 142.236 39.063 142.277 39.1346 142.344C39.2063 142.411 39.2567 142.502 39.2786 142.603C39.3415 142.91 39.8241 143.292 40.4093 143.654C41.1691 144.108 41.9531 144.512 42.7569 144.864Z"
            fill="#CED7E7"></path>
          <path
            opacity="0.1"
            d="M12.0718 120.212C12.8784 120.166 21.5371 116.479 23.3205 117.738C25.104 118.997 36.143 127.164 36.143 127.164C36.143 127.164 29.2259 117.225 23.1993 114.892C17.1728 112.559 12.0718 120.212 12.0718 120.212Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M24.5188 135.24C24.5188 135.24 33.1774 137.152 34.4923 138.46L24.5188 135.24Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M22.8519 149.478C22.726 149.619 19.588 157.364 19.8398 157.364C20.0916 157.364 22.768 152.749 22.768 152.749L22.8519 149.478Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M28.7525 140.185C28.7525 140.185 26.2066 141.167 26.5027 141.259C26.7988 141.352 28.6662 140.605 28.7525 140.185Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M26.2068 151.901C26.6311 152.88 27.9879 155.821 28.2864 155.354C28.5848 154.888 26.2068 151.901 26.2068 151.901Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M57.9877 74.279L57.624 74.8481C57.624 74.8481 54.7355 72.6101 53.5488 71.4897C52.3622 70.3694 49.5599 75.5018 47.3521 76.9016C45.1443 78.3013 41.4118 78.6756 41.4118 78.6756C41.4118 78.6756 38.5256 75.5019 38.6142 74.5738C38.7028 73.6458 37.2574 73.3612 37.1711 72.7075C37.0848 72.0538 36.5766 70.1874 35.8982 69.2543C35.5392 68.762 35.4879 67.2213 35.5205 65.8805C35.7536 65.8292 35.8982 65.801 35.8982 65.801C36.2605 65.077 36.7186 64.4161 37.2574 63.8398C38.022 63.0938 39.2087 58.5203 39.2087 58.5203C39.8871 56.0002 41.244 56.7462 41.244 56.7462C41.244 60.5738 44.8109 61.9735 46.5921 63.5604C48.3732 65.1473 51.1755 69.2543 53.3833 70.0951C55.1948 70.7745 57.314 73.4022 57.9877 74.279Z"
            fill="black"></path>
          <path
            d="M57.9877 73.7175L57.624 74.2892C57.624 74.2892 54.7238 72.0563 53.5371 70.9283C52.3505 69.8003 49.5482 74.9404 47.3404 76.3401C45.1326 77.7399 41.4001 78.1167 41.4001 78.1167C41.4001 78.1167 38.5139 74.9404 38.6025 74.0149C38.6911 73.0894 37.2456 72.8023 37.1594 72.146C37.0731 71.4897 36.5649 69.626 35.8865 68.6928C35.5274 68.2006 35.4762 66.6598 35.5088 65.319L35.8865 65.2421C36.2488 64.5181 36.7069 63.8571 37.2456 63.2809C38.0103 62.5324 39.197 57.9614 39.197 57.9614C39.8754 55.4413 41.2323 56.1848 41.2323 56.1848C41.2323 60.0123 44.7992 61.4146 46.5804 63.0015C48.3615 64.5884 51.1638 68.6928 53.3716 69.5337C55.1947 70.2233 57.3139 72.8408 57.9877 73.7175Z"
            fill="#CED7E7"></path>
          <path
            opacity="0.1"
            d="M58.2045 74.4764C58.2045 74.4764 55.703 75.9684 53.7493 76.1094C53.4936 76.1225 53.2373 76.1062 52.9846 76.0607C52.9846 76.0607 55.1411 74.2892 57.1437 73.9277L58.2045 74.4764Z"
            fill="black"></path>
          <path
            opacity="0.1"
            d="M63.2985 82.0828C63.2985 82.0828 60.1442 80.7317 59.1021 82.7647C59.137 81.8315 59.151 81.0573 59.151 81.0573L62.5897 80.3087C62.5897 80.3087 62.9208 80.9829 63.3078 81.8905C63.2985 82.011 63.2985 82.0828 63.2985 82.0828Z"
            fill="black"></path>
          <path
            d="M52.9846 76.0607C52.9846 76.0607 56.7637 73.5663 58.5799 73.7765C60.4846 73.9944 64.1751 74.1482 64.1751 74.1482C64.1751 74.1482 62.9022 77.322 63.0724 77.9757C63.2426 78.6295 63.2845 81.8033 63.2845 81.8033C63.2845 81.8033 59.4658 80.1702 58.8293 83.203C58.8293 83.203 56.7497 79.7959 55.3486 78.7679C54.4189 78.0293 53.6181 77.1122 52.9846 76.0607Z"
            fill="#63667E"></path>
          <path
            opacity="0.1"
            d="M74.3328 78.9577C73.2301 78.9577 69.3251 76.2479 68.4765 74.4764C67.6279 72.7049 66.4389 74.661 65.3361 75.3173C64.6367 75.7377 61.8648 74.8584 60.3704 74.22C61.1281 73.6535 62.8066 72.0589 63.2985 71.6769C63.8907 71.2078 64.4875 63.6476 64.4875 63.6476C66.6091 62.435 68.9008 73.4484 68.9008 73.4484C68.9008 73.4484 72.892 74.7558 73.2301 75.689C73.2954 75.8736 73.5961 76.2017 74.0484 76.5991C74.5147 77.8912 74.7711 78.9577 74.3328 78.9577Z"
            fill="black"></path>
          <path
            d="M74.3327 78.3961C73.2299 78.3961 69.3249 75.6889 68.4763 73.9174C67.6277 72.146 66.4387 74.102 65.336 74.7558C64.6366 75.1762 62.4148 74.3635 60.9204 73.7303C61.6781 73.1663 62.8065 71.5051 63.2984 71.1205C63.8905 70.6539 64.4874 63.0937 64.4874 63.0937C66.6089 61.8811 68.9006 72.8945 68.9006 72.8945C68.9006 72.8945 72.8919 74.202 73.2299 75.1352C73.2952 75.3198 73.596 75.6479 74.0482 76.0453C74.5145 77.3296 74.771 78.3961 74.3327 78.3961Z"
            fill="#CED7E7"></path>
          <path
            d="M89.4143 160.169L126.322 126.329C126.69 125.986 127.159 125.804 127.641 125.816L141.41 126.213C141.41 126.213 142.364 126.982 140.965 128.664L106.149 160.081C105.772 160.42 105.306 160.612 104.82 160.63L89.764 161.179C89.6559 161.182 89.5494 161.149 89.4594 161.083C89.3694 161.017 89.3003 160.922 89.2618 160.811C89.2233 160.7 89.2173 160.578 89.2447 160.463C89.272 160.348 89.3313 160.245 89.4143 160.169Z"
            fill="#67CF94"></path>
          <path
            d="M107.268 156.005C107.268 156.005 115.33 168.7 124.287 156.892C133.244 145.084 130.654 138.88 127.938 138.552C125.222 138.224 109.94 151.152 107.268 156.005Z"
            fill="#FFA2A2"></path>
          <path
            opacity="0.1"
            d="M161.642 14.0152C161.642 14.0152 172.033 -8.16027 184.314 3.27614C184.314 3.27614 186.995 4.35031 186.792 7.4677C186.792 7.4677 185.76 6.84473 184.939 9.22635C184.638 10.0714 184.246 10.8743 183.773 11.6182C183.145 12.6232 182.237 13.377 181.186 13.7666C181.186 13.7666 175.674 18.3068 165.465 14.8048C165.465 14.8048 162.579 15.2612 162.113 14.8664L165.468 12.1694C165.468 12.1694 167.172 14.951 169.664 15.2689C169.664 15.2689 165.468 12.3719 165.948 11.7439C166.046 11.6157 167.785 10.4031 167.785 10.4031C167.785 10.4031 170.767 15.2253 174.632 15.5816C174.632 15.5816 169.216 12.8667 168.44 9.94161L171.161 8.27268C171.161 8.27268 174.084 13.541 178.474 14.1306C178.474 14.1306 172.902 11.0773 171.779 7.95222L174.658 6.71655C174.658 6.71655 177.602 11.7926 181.255 12.2566C181.255 12.2566 175.143 8.01375 175.334 6.48069C175.334 6.48069 178.041 5.52189 178.871 5.64751C178.871 5.64751 181.06 9.23661 183.205 9.3007C183.205 9.3007 179.393 5.98848 179.645 5.47831C179.645 5.47831 183.473 5.2604 185.473 6.27817C185.473 6.27817 182.629 4.53745 179.645 4.81945C179.645 4.81945 180.994 3.07361 182.755 2.68907C182.755 2.68907 180.645 1.73539 178.717 4.88355C178.717 4.88355 175.74 5.18349 175.371 5.54753C175.371 5.54753 176.877 2.14301 178.731 0.694553C178.731 0.694553 175.968 1.23036 174.599 5.84491L171.681 7.0165C171.681 7.0165 173.455 2.40194 175.019 0.976554C175.019 0.976554 172.277 2.00201 170.967 7.38566L168.282 8.9905C168.282 8.9905 169.533 4.88867 170.963 2.88647C170.963 2.88647 168.606 4.44003 167.526 9.48016L165.848 10.7799C165.848 10.7799 166.81 7.80097 167.158 6.97291C167.505 6.14486 167.33 5.97309 167.33 5.97309C166.164 7.49005 165.402 9.33335 165.132 11.2978C165.132 11.2978 161.835 14.2203 161.642 14.0152Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M204.616 25.8748C204.616 25.8748 209.311 15.8535 214.86 21.0218C214.86 21.0218 216.072 21.5063 215.979 22.9138C215.979 22.9138 215.512 22.6343 215.142 23.7111C215.007 24.0925 214.832 24.4548 214.62 24.7904C214.336 25.2434 213.927 25.584 213.454 25.762C213.454 25.762 210.962 27.8129 206.348 26.2311C206.348 26.2311 205.045 26.4362 204.835 26.2593L206.35 25.039C206.35 25.039 207.12 26.2978 208.248 26.4388C208.248 26.4388 206.355 25.1313 206.569 24.8468C206.611 24.7904 207.397 24.2418 207.397 24.2418C207.397 24.2418 208.745 26.4208 210.493 26.5824C210.493 26.5824 208.045 25.3544 207.695 24.0187L208.926 23.2676C208.926 23.2676 210.246 25.6492 212.23 25.9158C212.23 25.9158 209.712 24.5366 209.199 23.124L210.5 22.5651C210.5 22.5651 211.829 24.8596 213.48 25.0698C213.48 25.0698 210.717 23.1522 210.805 22.46C210.805 22.46 212.027 22.0268 212.402 22.0832C212.402 22.0832 213.391 23.7059 214.361 23.7316C214.361 23.7316 212.638 22.237 212.752 22.0063C212.752 22.0063 214.482 21.9088 215.382 22.3677C215.382 22.3677 214.097 21.5807 212.752 21.7089C213.123 21.2448 213.609 20.9098 214.151 20.7449C214.151 20.7449 213.197 20.3142 212.325 21.7371C212.325 21.7371 210.98 21.8729 210.815 22.037C210.815 22.037 211.496 20.4988 212.332 19.8451C212.332 19.8451 211.083 20.0861 210.467 22.1729L209.162 22.7113C209.162 22.7113 209.962 20.627 210.67 19.981C210.67 19.981 209.43 20.445 208.838 22.8753L207.625 23.5983C207.625 23.5983 208.19 21.7422 208.835 20.8398C208.835 20.8398 207.77 21.5422 207.285 23.8187L206.525 24.4058C206.525 24.4058 206.961 23.0599 207.117 22.6856C207.273 22.3113 207.194 22.2344 207.194 22.2344C206.667 22.9223 206.323 23.7573 206.201 24.6468C206.201 24.6468 204.697 25.9671 204.616 25.8748Z"
            fill="#67CF94"></path>
          <path
            opacity="0.1"
            d="M153.739 37.5343C153.739 37.5343 158.434 27.5131 163.996 32.6814C163.996 32.6814 165.206 33.1659 165.116 34.5759C165.116 34.5759 164.649 34.2939 164.279 35.3706C164.143 35.7516 163.968 36.1138 163.756 36.4499C163.47 36.9051 163.057 37.246 162.579 37.4215C162.579 37.4215 160.089 39.4724 155.475 37.8907C155.475 37.8907 154.172 38.0983 153.962 37.9189L155.478 36.6986C155.478 36.6986 156.247 37.9573 157.373 38.1009C157.373 38.1009 155.48 36.7909 155.695 36.5063C155.739 36.4499 156.524 35.9013 156.524 35.9013C156.524 35.9013 157.872 38.0804 159.618 38.2419C159.618 38.2419 157.173 37.0139 156.821 35.6783L158.052 34.9297C158.052 34.9297 159.373 37.3087 161.357 37.5754C161.357 37.5754 158.84 36.1961 158.327 34.7835L159.628 34.2247C159.628 34.2247 160.959 36.5191 162.609 36.7293C162.609 36.7293 159.847 34.8117 159.933 34.1196C159.933 34.1196 161.157 33.6863 161.532 33.7427C161.532 33.7427 162.521 35.3655 163.491 35.3937C163.491 35.3937 161.768 33.8965 161.882 33.6658C161.882 33.6658 163.609 33.5684 164.512 34.0273C164.512 34.0273 163.225 33.2402 161.88 33.3684C162.251 32.9043 162.737 32.5693 163.278 32.4045C163.278 32.4045 162.327 31.9738 161.455 33.3966C161.455 33.3966 160.11 33.5325 159.945 33.6966C159.945 33.6966 160.623 32.1584 161.462 31.5046C161.462 31.5046 160.213 31.7456 159.597 33.8324L158.275 34.3708C158.275 34.3708 159.077 32.2866 159.784 31.6431C159.784 31.6431 158.546 32.1045 157.954 34.5349L156.739 35.2578C156.739 35.2578 157.305 33.4017 157.951 32.4993C157.951 32.4993 156.886 33.2018 156.399 35.4783L155.639 36.0654C155.639 36.0654 156.075 34.7195 156.231 34.3452C156.387 33.9709 156.31 33.894 156.31 33.894C155.782 34.5811 155.438 35.4164 155.317 36.3063C155.317 36.3063 153.82 37.6266 153.739 37.5343Z"
            fill="#67CF94"></path>
        </g>
        <defs>
          <clipPath id="clip0_244_613">
            <rect width="250" height="200" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="grid">
      <div class="izquierdo">
        <CardAboutUsFondo size={"450px"} title={"Our Mission"}>
          <div class="mobile">
            <p class="cardFondo">
              We <span class="span"
                >contribute to the technological needs of society</span
              > by providing comprehensive solutions tailored to the
              requirements presented. This is achieved through the availability,
              performance, quality, management, and evolution of our company's
              infrastructure and architecture.
            </p>
            <p class="cardFondo">
              We are guided by a culture of processes and projects, keeping our
              personnel focused on best practices and trends towards the
              convergence of telecommunications.
            </p>
          </div>

          <div class="desktop">
            <p class="cardFondo">
              We <span class="span"
                >contribute to the technological needs of society</span
              > by providing comprehensive solutions tailored to the
              requirements presented. This is achieved through the availability,
              performance, quality, management, and evolution of our company's
              infrastructure and architecture.
            </p>
            <p class="cardFondo">
              We are guided by a culture of processes and projects, keeping our
              personnel focused on best practices and trends towards the
              convergence of telecommunications.
            </p>
          </div>
        </CardAboutUsFondo>

        <CardAboutUsFondo size={"450px"} title={"Our  Vision"}>
          <div class="mobile">
            <p class="cardFondo">
              By <span class="span">2035</span> , our vision is to become a
              nationally and internationally recognized leading company, firmly
              established in the provision of high-quality and efficient
              technological services and solutions. We will adhere to quality
              standards and comply with current regulations to ensure
              outstanding performance in our field.
            </p>
          </div>

          <div class="desktop">
            <p class="cardFondo">
              By <span class="span">2035</span>, our vision is to become a
              nationally and internationally recognized leading company, firmly
              established in the provision of high-quality and efficient
              technological services and solutions.
            </p>

            <p class="cardFondo">
              We will adhere to quality standards and comply with current
              regulations to ensure outstanding performance in our field.
            </p>
          </div>
        </CardAboutUsFondo>
      </div>
      <div class="derecho">
        <CardAboutUsFondo size={"621px"} title={"Our Corporate Values"}>
          <div class="mobile">
            <ul>
              <li class="liFondo">
                Our company's philosophy centers on loyalty, responsibility,
                honesty, respect, and competitiveness. We emphasize fulfilling
                individual responsibilities to strengthen our institutional
                image and carrying out tasks with commitment to quality.
              </li>
              <li class="liFondo">
                Our actions are guided by ethical discernment and respect for
                both individuals and the organization. We prioritize efficiency,
                service-oriented commitment, and a culture of quality to exceed
                customer expectations while respecting the environment.
              </li>
            </ul>
          </div>

          <div class="desktop">
            <ul>
              <li class="liFondo">
                At our core, our company is founded upon a philosophy of
                loyalty, responsibility, honesty, and respect. We believe in
                fulfilling our individual responsibilities to enhance our
                institutional image, carrying out tasks with unwavering
                commitment to established quality policies, and always acting
                with ethical discernment and respect for the inherent rights of
                each individual and our organization.
              </li>
              <li class="liFondo">
                We strive for efficiency, delivering quality results through
                meticulous planning, and demonstrate a strong commitment to
                service and a sense of belonging to our organization, all while
                exercising the necessary leadership to achieve our objectives
                while respecting the environment. Our overarching goal is to
                maintain competitiveness through a culture of quality, ensuring
                that every product and service we offer not only meets but
                exceeds customer expectations.
              </li>
            </ul>
          </div>
        </CardAboutUsFondo>
      </div>
    </div>
  </section>

  <style lang="scss">
    @use "../assets/scss/base/_breakpoint.scss" as *;

    .contenedorExperiencia {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @include breakpoint(md) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 138px;
        margin-bottom: 100px;
      }
    }
    .obrero {
      width: 250px;
      height: 200px;

      @include breakpoint(md) {
        width: 600px;
        height: 450px;
      }
    }
    .mover {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint(md) {
        flex-direction: column-reverse;
      }
    }

    .iconXP {
      width: 52px;
      height: 52px;
      @include breakpoint(md) {
        width: 80px;
        height: 80px;
      }
    }

    .experiencia {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-size: 16px;
      @include breakpoint(md) {
        width: 452px;
        font-size: 24px;
        gap: 20px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-sizing: border-box;
      padding: 20px;
    }

    .cardNoFondo {
      font-weight: 600;
    }

    .xp {
      color: var(--emphasis-color);
    }
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 30px 65px 30px 65px;
      width: 100%;
    }
    .h1 {
      color: var(--color-emerald);
      font-size: 24px;
      margin-top: 30px;
      padding-left: 65px;
      @include breakpoint(md) {
        font-size: 40px;
      }
    }

    .span {
      font-weight: 700;
    }

    .cardFondo {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-mint-cream);
      @include breakpoint(md) {
        font-size: 24px;
      }
    }

    .liFondo {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-mint-cream);
      line-height: 130%;
      @include breakpoint(md) {
        font-size: 24px;
      }
    }

    .grid {
      @include breakpoint(md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        justify-content: center;
        width: 60%;
      }
    }

    .izquierdo {
      @include breakpoint(md) {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-gap: 10px;
      }
    }

    .mobile {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include breakpoint(md) {
        display: none;
      }
    }

    .desktop {
      display: none;
      @include breakpoint(md) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  </style>
</Layout>
