---
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";
import CardAboutUsFondo from "../components/CardAboutUsFondo.astro";
import { Image } from "astro:assets";
import mobileImage from "../assets/images/obrero.svg";
import desktopImage from "../assets/images/desktop-image.png";
import Icon from "astro-icon";

changeLanguage("en");
---

<Layout title="About Us">
  <div class="container">
    <div class="page-title">
      <h1 class="about-title">{t("about_us.about_us_title")}</h1>
    </div>

    <section class="about-description">
      <div class="about-description-container">
        <div class="experience">
          <div class="iconXP">
            <Icon name="mdi:star-check" />
          </div>
          <p class="experience-text">
            {t("about_us.text01")}
            <span class="xp">{t("about_us.text02")}</span>
            {t("about_us.text03")}
          </p>
          <p class="experience-text">
            {t("about_us.text04")}
          </p>
        </div>

        <div class="experience">
          <div class="iconXP">
            <Icon name="mdi:medal-outline" />
          </div>

          <p class="experience-text">
            {t("about_us.text05")}<span class="xp">
              {t("about_us.text06")}</span
            >
            {t("about_us.text07")}
          </p>
          <p class="experience-text">
            {t("about_us.text08")}
          </p>
        </div>
      </div>
    </section>
    <div class="desktop-image">
      <Image src={desktopImage} alt="example image" />
    </div>
    <div class="mobile-image">
      <Image src={mobileImage} alt="example image" />
    </div>

    <section class="cards-container">
      <div class="cards">
        <div class="mission-card card-item">
          <h2 class="card-title">
            {t("about_us.mission_tittle")}
          </h2>
          <p class="card-description">
            {t("about_us.mission_text01")}
            <span class="span">{t("about_us.mission_text02")}</span>
            {t("about_us.mission_text03")}
          </p>
          <p class="card-description">
            {t("about_us.mission_text04")}
          </p>
        </div>
        <div class="vision-card card-item">
          <h2 class="card-title">
            {t("about_us.vision_title")}
          </h2>
          <p class="card-description">
            {t("about_us.vision_text01")}
            <span class="span">{t("about_us.vision_text02")}</span>
            {t("about_us.vision_text03")}
          </p>
          <p class="card-description">
            {t("about_us.vision_text04")}
          </p>
        </div>
        <div class="values-card card-item">
          <h2 class="card-title">
            {t("about_us.values_title")}
          </h2>

          <p>
            {t("about_us.values01_desktop")}
          </p>
          <p>
            {t("about_us.values02_desktop")}
          </p>
        </div>
      </div>
    </section>
  </div>
  <!-- 
  <h1 class="h1">{t("about_us.about_us_title")}</h1>
  <section class="contenedor">
    <div class="mover">
      <div class="contenedorExperiencia">
        <div class="experiencia">
          <div class="iconXP">
            <Icon name="mdi:star-check" />
          </div>
          <p class="cardNoFondo">
            {t("about_us.text01")}
            <span class="xp">{t("about_us.text02")}</span>
            {t("about_us.text03")}
          </p>
          <p class="cardNoFondo">
            {t("about_us.text04")}
          </p>
        </div>

        <div class="experiencia">
          <div class="iconXP">
            <Icon name="mdi:medal-outline" />
          </div>

          <p class="cardNoFondo">
            {t("about_us.text05")}<span class="xp">
              {t("about_us.text06")}</span
            >
            {t("about_us.text07")}
          </p>
          <p class="cardNoFondo">
            {t("about_us.text08")}
          </p>
        </div>
      </div>
      <div class="obrero-img">
        <Image src={image} alt="products section image" />
      </div>
    </div>
    <div class="grid">
      <div class="izquierdo">
        <CardAboutUsFondo size={"450px"} title={t("about_us.mission_tittle")}>
          <div class="mobile">
            <p class="cardFondo">
              {t("about_us.mission_text01")}
              <span class="span">{t("about_us.mission_text02")}</span>
              {t("about_us.mission_text03")}
            </p>
            <p class="cardFondo">
              {t("about_us.mission_text04")}
            </p>
          </div>

          <div class="desktop">
            <p class="cardFondo">
              {t("about_us.mission_text01")}
              <span class="span">{t("about_us.mission_text02")}</span>
              {t("about_us.mission_text03")}
            </p>
            <p class="cardFondo">
              {t("about_us.mission_text04")}
            </p>
          </div>
        </CardAboutUsFondo>

        <CardAboutUsFondo size={"450px"} title={t("about_us.vision_title")}>
          <div class="mobile">
            <p class="cardFondo">
              {t("about_us.vision_text01")}
              <span class="span">{t("about_us.vision_text02")}</span>
              {t("about_us.vision_text03")}
              {t("about_us.vision_text04")}
            </p>
          </div>

          <div class="desktop">
            <p class="cardFondo">
              {t("about_us.vision_text01")}
              <span class="span">{t("about_us.vision_text02")}</span>
              {t("about_us.vision_text03")}
              {t("about_us.vision_text04")}
            </p>
          </div>
        </CardAboutUsFondo>
      </div>
      <div class="derecho">
        <CardAboutUsFondo size={"621px"} title={t("about_us.values_title")}>
          <div class="mobile">
            <ul>
              <li class="liFondo">
                {t("about_us.values01")}
              </li>
              <li class="liFondo">
                {t("about_us.values02")}
              </li>
            </ul>
          </div>

          <div class="desktop">
            <ul>
              <li class="liFondo">
                {t("about_us.values01_desktop")}
              </li>
              <li class="liFondo">
                {t("about_us.values02_desktop")}
              </li>
            </ul>
          </div>
        </CardAboutUsFondo>
      </div>
    </div>
  </section> -->
</Layout>

<style lang="scss">
  @use "../assets/scss/base/_breakpoint.scss" as *;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    > .page-title {
      display: flex;
      width: 90%;
      margin: 40px 0px;
      > .about-title {
        font-size: 3.6rem;
        font-weight: 700;

        @include breakpoint(md) {
          font-size: 4.8rem;
        }

        @include breakpoint(lg) {
          font-size: 5.6rem;
        }

        @include breakpoint(xl) {
          font-size: 6.4rem;
        }
      }
    }
    p {
      font-weight: 300;
      line-height: 1.6;
    }

    .about-description-container,
    img,
    .page-title {
      max-width: 1350px;
    }

    > .about-description {
      display: flex;
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: column;
      margin: 40px 0px;

      > .about-description-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 1350px;
        gap: 50px;
        @include breakpoint(md) {
          flex-direction: row;
        }

        > .experience {
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;
          // text-wrap: balance;
          > .iconXP {
            > [astro-icon] {
              color: var(--action-color);
              width: 50px;
              height: 50px;
              background-color: var(--color-rich-black);
              padding: 10px;
              border-radius: 100%;
              @include breakpoint(md) {
                padding: 20px;
                width: 80px;
                height: 80px;
              }
            }
          }

          > .experience-text {
            > .xp {
              color: var(--emphasis-color);
            }
          }
        }
      }
    }

    .desktop-image {
      display: none;
      margin: 40px 0px;
      > img {
        width: 100%;
        
        height: auto;
        @include breakpoint(1350px) {
          border-radius: var(--radius-default);
          max-width: 1215px;
        }
      }
      @include breakpoint(md) {
        display: block;
      }
    }

    .mobile-image {
      display: block;
      width: 100%;
      margin: 40px 0px;
      display: flex;
      justify-content: center;
      > img {
        width: 80%;
        max-width: 430px;
        height: auto;
      }

      @include breakpoint(md) {
        display: none;
      }
    }

    > .cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 40px 0px;
      > .cards {
        display: grid;
        align-items: start;
        justify-items: center;
        gap: 20px;
        width: 90%;
        max-width: 1350px;
        grid-template-columns: repeat(1, 1fr);
        @include breakpoint(md) {
          grid-template-columns: repeat(2, auto);
          grid-template-rows: repeat(2, auto);
          > .mission-card {
            grid-area: 1 / 1 / 2 / 2;
          }
          > .vision-card {
            grid-area: 2 / 1 / 3 / 2;
          }
          > .values-card {
            height: 100%;
            grid-area: 1 / 2 / 3 / 3;
          }
        }

        > .card-item {
          display: flex;
          flex-direction: column;
          gap: 20px;
          background-color: var(--card-background-color);
          padding: 40px 20px;
          border-radius: var(--radius-default);
        }
        .card-title {
        }
        .card-description {
          > .span {
          }
        }
      }
    }
  }
</style>
