---
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Contact">
  <div class="contenedor">
    <h1>{t("contact_us.contact_us_title")}</h1>
    <p class="intro">{t("contact_us.form.contac_text01")}</p>
    <div class="form-contact">
      <form action="">
        <h2>{t("contact_us.form.title")}</h2>
        <div>
          <label for="name">{t("contact_us.form.name")}</label>
          <input type="text" placeholder="Name" />

          <label for="email">{t("contact_us.form.email")}</label>
          <input type="email" placeholder="Email" />

          <label for="phone">{t("contact_us.form.phone")}</label>
          <input type="number" placeholder="Phone" />

          <p class="message">
            {t("contact_us.form.message_final")}
          </p>
        </div>

        <div>
          <label for="message">{t("contact_us.form.message")}</label>
          <textarea name="" id="" cols="30" rows="10" placeholder="Message"
          ></textarea>
          <button type="submit">
            {t("contact_us.form.send_button")}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M3.4 20.4004L20.85 12.9204C21.0304 12.8435 21.1842 12.7154 21.2923 12.5518C21.4004 12.3882 21.4581 12.1965 21.4581 12.0004C21.4581 11.8043 21.4004 11.6126 21.2923 11.449C21.1842 11.2854 21.0304 11.1572 20.85 11.0804L3.4 3.60039C3.2489 3.53449 3.08377 3.50723 2.91951 3.52109C2.75525 3.53495 2.59702 3.58949 2.4591 3.67978C2.32118 3.77008 2.20791 3.89328 2.1295 4.03829C2.0511 4.1833 2.01003 4.34555 2.01 4.51039L2 9.12039C2 9.62039 2.37 10.0504 2.87 10.1104L17 12.0004L2.87 13.8804C2.37 13.9504 2 14.3804 2 14.8804L2.01 19.4904C2.01 20.2004 2.74 20.6904 3.4 20.4004Z"
                fill="black"></path>
            </svg></button
          >
        </div>
      </form>

      <div class="contact-info">
        <h2>{t("contact_us.contact_info.contact_info_title")}</h2>
        <div class="phone">
          <h3>{t("contact_us.contact_info.USA_phone")}</h3>
          <p>+57 320 8542698</p>
          <p>+57 313 2723646</p>
        </div>

        <div class="phone">
          <h3>{t("contact_us.contact_info.colombian_phone")}</h3>
          <p>+57 320 8542698</p>
          <p>+57 313 2723646</p>
        </div>

        <div class="phone">
          <h3>{t("contact_us.contact_info.emails")}</h3>
          <p>andres.morales@ipmoviles.net</p>
          <p>karina.otalora@ipmoviles.net</p>
          <p>info@ipmoviles.com</p>
        </div>

        <div class="redes">
          <h3>{t("contact_us.contact_info.redes")}</h3>
          <span>
            <a href="https://www.linkedin.com/ipmoviles" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
              >
                <path
                  d="M32 0C33.0609 0 34.0783 0.421427 34.8284 1.17157C35.5786 1.92172 36 2.93913 36 4V32C36 33.0609 35.5786 34.0783 34.8284 34.8284C34.0783 35.5786 33.0609 36 32 36H4C2.93913 36 1.92172 35.5786 1.17157 34.8284C0.421427 34.0783 0 33.0609 0 32V4C0 2.93913 0.421427 1.92172 1.17157 1.17157C1.92172 0.421427 2.93913 0 4 0H32ZM31 31V20.4C31 18.6708 30.3131 17.0124 29.0903 15.7897C27.8676 14.5669 26.2092 13.88 24.48 13.88C22.78 13.88 20.8 14.92 19.84 16.48V14.26H14.26V31H19.84V21.14C19.84 19.6 21.08 18.34 22.62 18.34C23.3626 18.34 24.0748 18.635 24.5999 19.1601C25.125 19.6852 25.42 20.3974 25.42 21.14V31H31ZM7.76 11.12C8.65113 11.12 9.50576 10.766 10.1359 10.1359C10.766 9.50576 11.12 8.65113 11.12 7.76C11.12 5.9 9.62 4.38 7.76 4.38C6.86357 4.38 6.00385 4.73611 5.36998 5.36998C4.73611 6.00385 4.38 6.86357 4.38 7.76C4.38 9.62 5.9 11.12 7.76 11.12ZM10.54 31V14.26H5V31H10.54Z"
                  fill="#85CBFE"></path>
              </svg>
            </a>
            <a href="https://www.instagram.com/ip_moviles/" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
              >
                <path
                  d="M10.44 0H25.56C31.32 0 36 4.68 36 10.44V25.56C36 28.3289 34.9001 30.9843 32.9422 32.9422C30.9843 34.9001 28.3289 36 25.56 36H10.44C4.68 36 0 31.32 0 25.56V10.44C0 7.67114 1.09993 5.01569 3.05781 3.05781C5.01569 1.09993 7.67114 0 10.44 0ZM10.08 3.6C8.3614 3.6 6.71318 4.28271 5.49795 5.49795C4.28271 6.71318 3.6 8.3614 3.6 10.08V25.92C3.6 29.502 6.498 32.4 10.08 32.4H25.92C27.6386 32.4 29.2868 31.7173 30.5021 30.5021C31.7173 29.2868 32.4 27.6386 32.4 25.92V10.08C32.4 6.498 29.502 3.6 25.92 3.6H10.08ZM27.45 6.3C28.0467 6.3 28.619 6.53705 29.041 6.95901C29.4629 7.38097 29.7 7.95326 29.7 8.55C29.7 9.14674 29.4629 9.71903 29.041 10.141C28.619 10.5629 28.0467 10.8 27.45 10.8C26.8533 10.8 26.281 10.5629 25.859 10.141C25.437 9.71903 25.2 9.14674 25.2 8.55C25.2 7.95326 25.437 7.38097 25.859 6.95901C26.281 6.53705 26.8533 6.3 27.45 6.3ZM18 9C20.3869 9 22.6761 9.94821 24.364 11.636C26.0518 13.3239 27 15.6131 27 18C27 20.3869 26.0518 22.6761 24.364 24.364C22.6761 26.0518 20.3869 27 18 27C15.6131 27 13.3239 26.0518 11.636 24.364C9.94821 22.6761 9 20.3869 9 18C9 15.6131 9.94821 13.3239 11.636 11.636C13.3239 9.94821 15.6131 9 18 9ZM18 12.6C16.5678 12.6 15.1943 13.1689 14.1816 14.1816C13.1689 15.1943 12.6 16.5678 12.6 18C12.6 19.4322 13.1689 20.8057 14.1816 21.8184C15.1943 22.8311 16.5678 23.4 18 23.4C19.4322 23.4 20.8057 22.8311 21.8184 21.8184C22.8311 20.8057 23.4 19.4322 23.4 18C23.4 16.5678 22.8311 15.1943 21.8184 14.1816C20.8057 13.1689 19.4322 12.6 18 12.6Z"
                  fill="#85CBFE"></path>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="mapa">
      <h2 class="title">{t("contact_us.location_title")}</h2>
      <p>{t("contact_us.colombia")}</p>
      <div>
        <span>
          <h2 class="desktop">{t("contact_us.united_states")}</h2>
          <h2 class="mobile">{t("contact_us.florida")}</h2>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1881.5471667048807!2d-80.1448023840359!3d26.18185068006446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjbCsDEwJzU0LjkiTiA4MMKwMDgnMzcuNyJX!5e0!3m2!1ses!2sco!4v1686007858948!5m2!1ses!2sco"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <p>210 NE 45th St, Oakland Park - Florida 33334.</p>
        </span>

        <span>
          <h2 class="desktop">{t("contact_us.colombia_")}</h2>
          <h2 class="mobile">{t("contact_us.colombia")}</h2>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.4927983146786!2d-74.04921073045426!3d4.856756492685045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f87f272775d9b%3A0xa56fbd10bdb4aa8f!2sCra.+1a+%2311-130%2C+Ch%C3%ADa%2C+Cundinamarca!5e0!3m2!1ses!2sco!4v1535412193622"
            frameborder="0"
            style="border:0"
            allowfullscreen=""></iframe>
          <p>Cra. 1a #11-130 Chía - Cundinamarca.</p>
        </span>
      </div>
    </div>
  </div>

  <style lang="scss">
    @use "../assets/scss/base/_breakpoint.scss" as *;

    .contenedor {
      box-sizing: border-box;
      padding: 30px 65px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      @include breakpoint(md) {
        width: 80%;
        padding: 30px 0;
        align-items: flex-start;
      }
    }

    h1 {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      @include breakpoint(md) {
        font-size: 40px;
      }
    }

    .intro {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      @include breakpoint(md) {
        font-size: 24px;
      }
    }

    .form-contact {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include breakpoint(md) {
        flex-direction: row;
        gap: 20px;
      }
    }

    form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      @include breakpoint(md) {
        grid-template-columns: 1fr 1fr;
        background-color: var(--color-dark-jungle-green);
        height: auto;
        box-sizing: border-box;
        padding: 30px 60px;
      }
    }

    form h2 {
      display: none;
      @include breakpoint(md) {
        display: flex;
        grid-column: 1 / 3;
        grid-row: 1;
        color: var(--action-color);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
      }
    }

    .message {
      display: none;
      @include breakpoint(md) {
        display: flex;
        font-size: 16px;
        margin-top: 50px;
      }
    }

    form div {
      display: flex;
      flex-direction: column;
      gap: 3px;

      @include breakpoint(md) {
        align-items: flex-end;
      }
    }

    label {
      margin-top: 20px;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      width: 100%;
    }

    input {
      height: 40px;
      padding: 16px 10px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: black;
      width: 100%;
    }

    textarea {
      padding: 16px 10px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: black;
      resize: none;
    }

    button {
      background-color: #0a77c7;
      color: white;
      font-size: 16px;
      font-style: normal;
      border-radius: 5px;
      width: 60%;
      margin: 19px auto;
      border: none;
      box-sizing: border-box;
      padding: 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      @include breakpoint(md) {
        margin: 35px 0;
        background-color: var(--action-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: var(--card-background-color);
      box-sizing: border-box;
      padding: 30px;
      border-radius: 5px;
      @include breakpoint(md) {
        width: auto;
        height: auto;
      }
    }

    .contact-info h2 {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
    }

    .phone {
      display: flex;
      flex-direction: column;
      gap: 3px;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }

    .phone p {
      display: flex;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }

    .phone h3 {
      margin-bottom: 4px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
    }

    .redes span {
      margin-top: 12px;
      display: flex;
      gap: 15px;
    }

    .desktop {
      display: none;
      box-sizing: border-box;
      margin-top: 30px;
      @include breakpoint(md) {
        margin-top: 0;
        display: flex;
        text-align: center;
        color: var(--action-color);
      }
    }

    .mobile {
      display: flex;
      box-sizing: border-box;
      padding: 14px 0;
      text-align: left;
      margin-top: 30px;
      @include breakpoint(md) {
        display: none;
      }
    }

    iframe {
      width: 100%;
      @include breakpoint(md) {
        width: 510px;
        height: 300px;
      }
    }

    .mapa {
      @include breakpoint(md) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 80px;
        width: 100%;
      }
    }

    .mapa .title {
      display: none;
      @include breakpoint(md) {
        display: flex;
      }
    }

    .mapa div {
      @include breakpoint(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-gap: 20px;
      }
    }

    .mapa span {
      @include breakpoint(md) {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        align-items: center;
        gap: 20px;
      }
    }

    .mapa span p {
      @include breakpoint(md) {
        font-size: 20px;
      }
    }
  </style>
</Layout>
