---
export const prerender = true;
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";
import FormContact from "../components/Contact/FormContact";

changeLanguage("en");
---

<Layout title={t("titles.contact")}>
  <div class="container">
    <div class="page-title">
      <h1 class="contact-title">{t("contact_us.contact_us_title")}</h1>
      <p class="contact-intro">{t("contact_us.form.contac_text01")}</p>
    </div>
    <div class="contact-container">
      <div class="section-container">
        <div class="form-container">
          <h2 class="form-title">{t("contact_us.form.title")}</h2>
          <!-- form component -->
          <FormContact
            client:load
            namelabel={t("contact_us.form.name")}
            nameplaceholder={t("contact_us.form.place_name")}
            emaillabel={t("contact_us.form.email")}
            emailplaceholder={t("contact_us.form.place_email")}
            phonelabel={t("contact_us.form.phone")}
            phoneplaceholder={t("contact_us.form.place_phone")}
            messagelabel={t("contact_us.form.message")}
            messageplaceholder={t("contact_us.form.place_message")}
            buttonlabel={t("contact_us.form.send_button")}
          />
        </div>
        <div class="contact-container">
          <h2>{t("contact_us.contact_info.contact_info_title")}</h2>
          <div class="contact-content">
            <h3>{t("contact_us.contact_info.USA_phone")}</h3>
            <p>+57 320 8542698</p>
            <p>+57 313 2723646</p>
          </div>

          <div class="contact-content">
            <h3>{t("contact_us.contact_info.colombian_phone")}</h3>
            <p>+57 320 8542698</p>
            <p>+57 313 2723646</p>
          </div>

          <div class="contact-content">
            <h3>{t("contact_us.contact_info.emails")}</h3>
            <a href="mailto:andres.morales@ipmoviles.net"
              >andres.morales@ipmoviles.net</a
            >
            <a href="mailto:karina.otalora@ipmoviles.net"
              >karina.otalora@ipmoviles.net</a
            >
            <a href="mailto:info@ipmoviles.com">info@ipmoviles.com</a>
          </div>

          <div class="contact-content">
            <h3>{t("contact_us.contact_info.redes")}</h3>
            <div class="icons">
              <a href="https://www.linkedin.com/ipmoviles" target="_blank">
                <Icon name="mdi:linkedin" />
              </a>
              <a href="https://www.instagram.com/ip_moviles/" target="_blank">
                <Icon name="mdi:instagram" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-info">
      <div class="maps">
        <div class="maps-text">
          <h2 class="title">{t("contact_us.location_title")}</h2>
          <p>{t("contact_us.location_sub")}</p>
        </div>
        <div class="maps-container">
          <div class="map">
            <h3 class="title">{t("contact_us.united_states")}</h3>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.454678688256!2d-80.1463985238886!3d26.181883691113978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d903d34901662f%3A0xae36c1d03b141878!2s210%20NE%2045th%20St%2C%20Oakland%20Park%2C%20FL%2033334%2C%20EE.%20UU.!5e0!3m2!1ses!2sco!4v1696375929093!5m2!1ses!2sco"
              width="600"
              height="250"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p>210 NE 45th St, Oakland Park - Florida 33334.</p>
          </div>

          <div class="map">
            <h3 class="title">{t("contact_us.colombia_")}</h3>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15901.976157142193!2d-74.04883200000002!3d4.856546!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f87f272882383%3A0xa3896ec02ce4b50d!2sCra.%201a%20%2311-130%2C%20Ch%C3%ADa%2C%20Cundinamarca%2C%20Colombia!5e0!3m2!1sen!2sus!4v1696375973965!5m2!1sen!2sus"
              width="600"
              height="250"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p>Cra. 1a #11-130 Chía - Cundinamarca.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "../assets/scss/base/_breakpoint.scss" as *;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    > .page-title {
      display: flex;
      flex-direction: column;
      width: 90%;
      max-width: 1350px;
      gap: 30px;
      margin: 40px 0px;
      > .contact-title {
        font-size: 3.6rem;
        font-weight: 700;

        @include breakpoint(md) {
          font-size: 4.8rem;
        }

        @include breakpoint(lg) {
          font-size: 5.6rem;
        }

        @include breakpoint(xl) {
          font-size: 6.4rem;
        }
      }
    }

    > .contact-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      width: 100%;
      margin: 40px 0px;

      > .section-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 90%;
        max-width: 1350px;

        @include breakpoint(md) {
          flex-direction: row;
          gap: 20px;
        }

        > .form-container {
          display: flex;
          flex-direction: column;
          gap: 25px;
          width: 100%;
          height: 100%;
          @include breakpoint(md) {
            width: 65%;
            height: auto;
            background-color: var(--card-background-color);
            box-sizing: border-box;
            border-radius: var(--radius-default);
            padding: 30px;
            color: var(--color-mint-cream);
          }

          @include breakpoint(lg) {
            width: 70%;
          }

          @include breakpoint(xl) {
            width: 75%;
          }
        }

        > .contact-container {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          background-color: var(--card-background-color);
          border-radius: var(--radius-default);
          padding: 30px;
          color: var(--color-mint-cream);
          > h2 {
            font-size: 2rem;
          }

          h3 {
            font-size: 1.8rem;
          }

          > .contact-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            p {
              font-size: 1.6rem;
            }
            > a {
              font-size: 1.2rem;
              @include breakpoint(md) {
                font-size: 1.4rem;
              }
            }

            > .icons {
              display: flex;
              gap: 10px;
              [astro-icon] {
                margin-top: 5px;
                width: 40px;
                height: 40px;
                color: var(--action-color);
              }
            }
          }
          @include breakpoint(md) {
            width: 35%;
            background-color: var(--card-background-color);
            box-sizing: border-box;
            border-radius: var(--radius-default);
            padding: 30px;
            color: var(--color-mint-cream);
          }

          @include breakpoint(lg) {
            width: 30%;
          }

          @include breakpoint(xl) {
            width: 25%;
            h2 {
              font-size: 2.2rem;
            }
            h3 {
              font-size: 2rem;
            }
            p {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
    > .contact-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin: 40px 0px;
      > .maps {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 90%;
        max-width: 1350px;

        > .maps-text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          > h2 {
            color: var(--action-color);
          }
        }

        > .maps-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          width: 100%;

          @include breakpoint(md) {
            flex-direction: row;
          }
          > .map {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            width: 100%;
            > h3 {
              color: var(--action-color);
            }
            > iframe {
              width: 100%;
              border-radius: var(--radius-default);
            }
          }
        }
      }
    }
  }
</style>
