---
export const prerender = true;
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";
import gallery from "../assets/images/gallery/index";
import { Image } from "astro:assets";
import Icon from "astro-icon";
changeLanguage("en");
---

<Layout title={t("titles.gallery")}>
  <section class="container">
    <div class="page-title">
      <h1 class="gallery-title">{t("gallery.gallery_title")}</h1>
      <div class="gallery-description">
        <p>
          {t("gallery.gallery_text01")}
        </p>
        <p>{t("gallery.gallery_text02")}:</p>
        <div class="socials">
          <a href="https://co.linkedin.com/company/ipmoviles"
            ><Icon name="mdi:linkedin" /></a
          >
          <a href="https://www.instagram.com/ip_moviles/"
            ><Icon name="mdi:instagram" /></a
          >
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="grid-container">
        {
          gallery.map((img, id) => {
            return (
              <div class={`grid-item grid-item-${id + 1}`}>
                <Image src={img} alt={`Imagen ${id + 1}`} loading={"lazy"} />
              </div>
            );
          })
        }
      </div>
    </div>
  </section>
</Layout>
<style lang="scss">
  @use "../assets/scss/base/_breakpoint.scss" as *;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .page-title {
      display: flex;
      flex-direction: column;
      width: 90%;
      max-width: 1350px;
      gap: 30px;
      margin: 40px 0px 20px 0px;
      > .gallery-title {
        font-size: 3.6rem;
        font-weight: 700;

        @include breakpoint(md) {
          font-size: 4.8rem;
        }

        @include breakpoint(lg) {
          font-size: 5.6rem;
        }

        @include breakpoint(xl) {
          font-size: 6.4rem;
        }
      }
      > .gallery-description {
        display: flex;
        flex-direction: column;
        gap: 10px;
        > .socials {
          display: flex;
          gap: 10px;
          [astro-icon] {
            width: 48px;
            height: 48px;
            color: #0a77c7;
          }
        }
      }
    }
    > .gallery-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 20px 0px 40px 0px;
      > .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        max-width: 1350px;

        @include breakpoint(md) {
          grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint(1280px) {
          grid-template-columns: repeat(4, 1fr);
        }
        > .grid-item {
          > img {
            width: 100%;
            height: 100%;
            border-radius: var(--radius-default);
            object-fit: cover;
            transition: transform 0.3s ease;
            transform: scale(1);

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        > .grid-item-1 {
          grid-area: 1/1/2/3;
          @include breakpoint(md) {
            grid-area: 1/1/2/4;
          }
        }

        > .grid-item-6 {
          grid-area: 5/1/6/3;
          @include breakpoint(md) {
            grid-area: 5/2/6/4;
          }
        }

        > .grid-item-10 {
          grid-area: 6/1/7/3;
          @include breakpoint(md) {
            grid-area: 3/3/5/4;
          }
        }

        > .grid-item-9 {
          grid-area: 3/1/4/3;
          @include breakpoint(md) {
          }
        }
        > .grid-item-8 {
          @include breakpoint(1280px) {
            grid-area: 3/4/5/5;
          }
        }
        > .grid-item-16 {
          grid-area: 8/1/10/2;
          @include breakpoint(md) {
            grid-area: 7/2/8/4;
          }
          @include breakpoint(1280px) {
            grid-area: 6/1/7/3;
          }
        }
        > .grid-item-11 {
          grid-area: 11/1/12/3;
          @include breakpoint(md) {
            grid-area: 8/1/9/4;
          }
          @include breakpoint(1280px) {
            grid-area: 6/3/7/5;
          }
        }
      }
    }
  }
</style>
