---
import Icon from "astro-icon";

interface Props {
  title: string;
  text: string;
  icon: string;
}

const { title, text, icon } = Astro.props;
---

<div class="card-container">
  <div class="service-icon">
    <Icon name={icon} />
  </div>
  <div class="service-content">
    <h3 class="service-title">{title}</h3>
    <p class="service-text">{text}</p>
  </div>
</div>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint.scss" as *;

  .card-container {
    min-width: 200px;
    width: 200px;
    max-width: 430px;
    min-height: 200px;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border-radius: var(--radius-default);
    padding: 20px 20px;
    background-color: var(--card-background-color);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#0a77c7, 15%);
    }

    .service-content {
      display: flex;
      justify-content: center;
      gap: 10px;
      border-radius: var(--radius-default);
      flex-direction: column;
      text-wrap: balance;
      color: var(--color-mint-cream);
      max-width: 350px;

      .service-text {
        font-size: 1.4rem;
        line-height: 120%;
      }

      h3.service-title {
        font-size: 1.5rem;
        line-height: 130%;
      }

      @include breakpoint(sm) {
        .service-text {
          font-size: 1.6rem;
        }
        h3.service-title {
          font-size: 1.8rem;
        }
      }

      @include breakpoint(lg) {
        .service-text {
          font-size: 1.8rem;
        }
        h3.service-title {
          font-size: 2rem;
        }
      }

      @include breakpoint(lg) {
        .service-text {
          font-size: 1.8rem;
        }
        h3.service-title {
          font-size: 2rem;
        }
      }
    }

    .service-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      border: 1px solid #c3c3c3;
      background-color: var(--card-icon-color);

      > svg {
      }
    }
  }

  [astro-icon] {
    width: 28px;
    height: 28px;
    color: var(--color-chinese-black);
  }
</style>
