---
import { Image } from "astro:assets";
import image from "../../assets/images/companyy.jpg";
import CTAButton from "../CTAButton.astro";
import { t } from "i18next";
import { localizePath } from "astro-i18next";

---

<section class="section-company" aria-label="Company">
  <div class="company-text">
    <h2 class="section-title">{t("site_home.our_company")}</h2>
    <p class="section-text">
      {t("site_home.company_text01")}
    </p>
    <p>
      {t("site_home.company_text02")}
    </p>

    <CTAButton icon="mdi:information" href={localizePath("/about")}>
      {t("site_home.CTA_company")}
    </CTAButton>
  </div>
  <div class="image-container">
    <Image src={image} alt="Company image" class={"section-image"} />
  </div>
</section>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint.scss" as *;

  .section-company {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-wrap: balance;

    @include breakpoint(926px) {
      flex-direction: row;
      align-items: center;
      width: 90%;
      max-width: 1350px;
      > .company-text {
        width: 60%;
      }
      > .image-container {
        width: 40%;
      }
    }

    @include breakpoint(xl) {
      > .image-container {
        justify-content: flex-end;
        > img {
          width: 80%;
        }
      }
    }

    > .company-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      margin-bottom: 30px;
      padding-right: 10px;
      padding-left: 20px;

      > .section-title {
        font-size: 3rem;
        margin-bottom: 10px;
        @include breakpoint(md) {
          font-size: 3.6rem;
        }

        @include breakpoint(lg) {
          font-size: 4rem;
        }
      }

      @include breakpoint(xl) {
        padding-left: 0px;
        margin-bottom: 0px;
      }
    }
  }

  .image-container {
    display: none;
    > img {
      width: 95%;
      height: auto;
      border-radius: var(--radius-default);
    }

    @include breakpoint(530px) {
      display: flex;
      justify-content: center;
    }
  }
</style>
