---
import CTAButton from "../CTAButton.astro";
import logoimages from "../../assets/images/logos/index.js";
import { Image } from "astro:assets";
import { t } from "i18next";

const { asecones, claro, ingeant, inspur, movistar, qmc } = logoimages;
---

<section class="section-experience">
  <div class="section-container">
    <div class="content">
      <div class="section-content--flex">
        <div class="section-subtitle">
          <h2 class="section-title">{t("site_home.clients")}</h2>
          <p class="section-text">
            {t("site_home.clients_text01")}
          </p>
          <p>
            {t("site_home.clients_text02")}
          </p>
        </div>
        <div class="experience-images section-circles">
          <Image src={claro} alt="CLARO-LOGO" />
          <Image src={inspur} alt="INSPUR-LOGO" />
          <Image src={movistar} alt="MOVISTAR-LOGO" />
          <Image src={qmc} alt="QMC-LOGO" />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint.scss" as *;

  .section-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    background: var(--exp-card-background-color);

    @include breakpoint(530px) {
      margin-top: 40px;
    }

    > .section-container {
      display: flex;
      flex-direction: column;
      width: 95%;
      max-width: 1350px;
      padding: 40px 40px;
      border-radius: var(--radius-default);
      background-color: var(--exp-card-background-color);
      color: var(--color-mint-cream);
      > .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        > .section-title {
          margin-bottom: 20px;
          color: var(--color-mint-cream);
        }

        > .section-content--flex {
          display: flex;
          flex-direction: column;
          > .section-subtitle {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          > .section-circles {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            place-items: center;
            background-color: var(--color-light-silver);
            border-radius: var(--radius-default);
            padding: 20px;
            margin-top: 30px;

            gap: 10px;
            > img {
              width: 150px;
              height: auto;
              object-fit: contain;
            }

            > img:nth-child(1) {
              width: 80px;
            }
          }
        }

        > .section-button {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        @include breakpoint(926px) {
          > .section-content--flex {
            flex-direction: row;
            gap: 40px;
            > .section-subtitle {
              width: 60%;
            }

            > .section-circles {
              width: 40%;
              margin: 0px;
            }
          }
        }
      }
    }
  }
</style>
