---
import Icon from "astro-icon";
import { t } from "i18next";
---

<div class="content-container">
  <div class="content-text">
    <div class="content-title">
      <h1 class="hero-title">IP MOVILES</h1>
    </div>
    <div class="content-subtitles">
      <h2 class="hero-subtitle">
        {t("site_home.header_text01")}
      </h2>
      <h3 class="hero-subtitle opacity">
        {t("site_home.header_text02")}
      </h3>
    </div>
  </div>
  <div class="content-features">
    <div>
      <Icon name="mdi:access-point-check" /><p>{t("site_home.service01")}</p>
    </div>
    <div>
      <Icon name="eos-icons:trusted-organization" /><p>{t("site_home.service02")}</p>
    </div>
    <div>
      <Icon name="gridicons:customize" /><p>{t("site_home.service03")}</p>
    </div>
  </div>
</div>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint.scss" as *;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    > .content-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      > .content-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        > h1 {
          color: var(--action-color);
        }
      }
      > .content-subtitles {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
        padding: 0px 20px;
        color: var(--color-mint-cream);

        > .hero-subtitle.opacity {
          color: var(--grey);
        }
      }
    }
    > .content-features {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      @include breakpoint(md) {
        flex-direction: row;
      }
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: var(--color-mint-cream);

        [astro-icon] {
          width: 36px;
          height: 36px;
          color: var(--action-color);
        }
      }
    }
  }
</style>
