---
import Icon from "astro-icon";
import { Image } from "astro:assets";
import heroImage from "../../assets/hero-image.svg";
import { t } from "i18next";
---

<section class="section-hero">
  <div class="hero-left">
    <div class="hero-text">
      <div class="hero-titles">
        <div class="hero-title">
          <h1>IP MOVILES</h1>
        </div>
        <h2 class="hero-subtitle">
         {t("site_home.header_text01")}
        </h2>
        <h3 class="hero-subtitle opacity">
          {t("site_home.header_text02")}
        </h3>
      </div>
      <div class="hero-features">
        <div>
          <Icon name="mdi:check-circle" /><p>Effective connectivity</p>
        </div>
        <div>
          <Icon name="mdi:check-circle" /><p>Reliable technology</p>
        </div>
        <div>
          <Icon name="mdi:check-circle" /><p>Customized solutions</p>
        </div>
      </div>
    </div>
    <div class="hero-image">
      <Image src={heroImage} alt="IP Moviles" />
    </div>
  </div>

  <div class="hero-cta">
    <a href="#section-services" class="go-down-button"
      ><Icon name="mdi:chevron-down-circle" /></a
    >
  </div>
</section>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint.scss" as *;

  .section-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: max-content;
    background: var(--hero-background-color);
    padding: 40px 0px 50px 0px;
    text-wrap: balance;

    @include breakpoint(lg) {
      padding-top: 80px;
    }
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(lg) {
      flex-direction: row;
      justify-content: space-evenly;
    }

    @include breakpoint(xl) {
      justify-content: space-around;
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;

    @include breakpoint(md) {
      margin-left: 80px;
      margin-right: 0px;
    }
    @include breakpoint(lg) {
      width: fit-content;
      max-width: 50%;
      margin-left: 0px;
    }

    @include breakpoint(xl) {
      margin-left: 0px;
    }

    > .hero-titles {
      > .hero-title {
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin-bottom: 20px;

        > h1 {
          color: var(--hero-title);
        }
      }

      > .hero-subtitle {
        &.opacity {
          margin-top: 20px;
          margin-bottom: 20px;
          color: var(--hero-text-opacity);
        }

        @include breakpoint(md) {
        }
      }
    }
    > .hero-features {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 1.8rem;

      div {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
  }

  .hero-image {
    margin-top: 20px;
    img {
      width: 200px;
      height: auto;

      @include breakpoint(sm) {
        width: 240px;
      }
      @include breakpoint(md) {
        width: 350px;
      }
      @include breakpoint(lg) {
        width: 400px;
      }
    }
  }

  .hero-cta {
    margin-top: 20px;
    margin-bottom: 10px;

    @include breakpoint(md) {
      margin-top: 10px;
    }

    @include breakpoint(lg) {
      margin-top: 100px;
      margin-bottom: 90px;
    }
  }

  .hero-features [astro-icon] {
    color: var(--action-color);
    width: 26px;
    height: 26px;
  }

  .hero-cta [astro-icon="mdi:chevron-down-circle"] {
    color: var(--action-color);
    width: 48px;
    height: 48px;
  }
</style>
