---

---

<section class="section-hero">
  <div class="hero-text">
    <div class="hero-titles">
      <h1>IP MOVILES</h1>
      <span>LTDA</span>
      <h2 class="hero-subtitle">
        Your trusted partner in connectivity and telecommunication services.
      </h2>
      <h2 class="hero-subtitle opacity">Technology solutions tailored to the needs of our customers</h2>
    </div>
    <div class="hero-features">
        <div><span></span><p>Effective connectivity</p></div>
        <div><span></span><p>Reliable technology</p></div>
        <div><span></span><p>Customized solutions</p></div>
    </div>
  </div>
  <div class="hero-image"></div>
  <div class="hero-cta">
    <a href="#" class="go-down-button"><span></span></a>
  </div>
</section>
