---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
---

<section id="section-services" class="section-services">
  <div class="services-title-container">
    <div class="services-text">
      <h2 class="section-title">{t("site_home.quality_services")}</h2>
      <p>
        {t("site_home.quality_subtitle")}
      </p>
    </div>
  </div>
  <div class="cards-container">
    <div class="services-cards">
      <slot />
    </div>
  </div>
  <div class="hyperlink-container">
    <a href={localizePath("/services")} class="hyperlink"
      >{t("site_home.link_services")}</a
    >
  </div>
</section>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint.scss" as *;

  .section-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    margin-bottom: 40px;
    gap: 20px;

    > .services-title-container,
    > .hyperlink-container {
      padding-left: 20px;
    }

    @include breakpoint(lg) {
      width: 90%;
      margin-bottom: 60px;

      > .services-title-container,
      > .hyperlink-container {
        display: flex;
        width: 100%;
        max-width: 1350px;
        padding-left: 20px;
      }
    }

    @include breakpoint(xl) {
      align-items: center;
    }

    @include breakpoint(xxl) {
      > .services-title-container,
      > .hyperlink-container {
        padding-left: 0px;
      }
    }

    > .services-title-container {
      > .services-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        gap: 20px;

        @include breakpoint(lg) {
          // margin-left: 40px;
        }
        @include breakpoint(xl) {
          // margin-left: 80px;
        }
      }
    }

    > .cards-container {
      width: 100%;
      > .services-cards {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 0px 20px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: 30px;

        @include breakpoint(md) {
          flex-wrap: wrap;
          justify-content: space-between;
          row-gap: 25px;
          // padding: 40px 20px;
          scroll-snap-type: none;
          overflow-x: hidden;
        }

        @include breakpoint(xxl) {
          justify-content: center;
        }
      }
    }
  }

  .services-title-container {
    .section-title {
      font-size: 3rem;

      @include breakpoint(md) {
        font-size: 3.6rem;
      }

      @include breakpoint(lg) {
        font-size: 4rem;
      }
    }
  }
  .hyperlink {
    align-self: flex-start;
    font-size: 1.4rem;
    text-decoration: underline;
    color: var(--font-color);
    @include breakpoint(md) {
      font-size: 1.6rem;
    }

    @include breakpoint(lg) {
      font-size: 1.8rem;
    }

    @include breakpoint(xl) {
      font-size: 2rem;
    }

    @include breakpoint(xxl) {
      font-size: 2.2rem;
    }
  }
</style>
