---
import Container from "../Container.astro";
---

<section id="section-services" class="section-services">
  <h2 class="section-title">Quality Services</h2>
  <div class="services-cards">
    <slot />
  </div>
  <a href="/services" class="hyperlink">Know more about our services</a>
</section>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint.scss" as *;
  .section-services {
    width: 100%;
    display: flex;
    flex-direction: column;

    > .services-cards {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      padding: 40px 20px;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      gap: 30px;

      @include breakpoint(md) {
        flex-wrap: wrap;
        gap: 10px;
        padding: 40px 20px;
        scroll-snap-type: none;
        overflow-x: hidden;
        
      }
    }
  }
  .section-title {
    margin-bottom: 100px;
  }
  .hyperlink {
    display: block;
    margin-top: 100px;
  }
</style>
