---
import CardServices from "./CardServices.astro";
---

<section class="section-services">
  <h2 class="section-title">Quality Services</h2>
  <div class="services-cards">
    <slot />
  </div>
  <a href="/services" class="hyperlink">Know more about our services</a>
  <CardServices
    number={1}
    icon='<svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 30 25" fill="none">
    <path d="M15 22.9867C16.447 22.9867 17.62 21.8137 17.62 20.3667C17.62 18.9197 16.447 17.7467 15 17.7467C13.553 17.7467 12.38 18.9197 12.38 20.3667C12.38 21.8137 13.553 22.9867 15 22.9867Z" stroke="#67CF94" stroke-width="2.28571" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10.06 14.4868C10.7103 13.8191 11.4878 13.2885 12.3466 12.9262C13.2053 12.5638 14.1279 12.3772 15.06 12.3772C15.992 12.3772 16.9146 12.5638 17.7734 12.9262C18.6321 13.2885 19.4096 13.8191 20.06 14.4868M5.71997 11.1068C6.9374 9.88227 8.3849 8.91051 9.97922 8.2474C11.5736 7.58429 13.2832 7.24292 15.01 7.24292C16.7367 7.24292 18.4464 7.58429 20.0407 8.2474C21.635 8.91051 23.0825 9.88227 24.3 11.1068" stroke="#67CF94" stroke-width="2.28571" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M2 7.38676C3.70687 5.679 5.73348 4.32429 7.96407 3.40001C10.1947 2.47573 12.5855 2 15 2C17.4145 2 19.8053 2.47573 22.0359 3.40001C24.2665 4.32429 26.2931 5.679 28 7.38676" stroke="#67CF94" stroke-width="2.28571" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>'
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  />
</section>
