.lang-switch {
  width: max-content;

  font-size: 1.2rem;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  > option {
    font-size: 1.2rem;
    padding: 5px;
    color: black;
  }

  &:hover {
    background-color: rgba(110, 110, 110, 0.1);
    padding: 8px;
  }

  &:focus {
    outline: black;
  }
}
