.lang-switch {
  width: max-content;

  font-size: 1.2rem;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px;
  }
}
