---
import { t } from "i18next";
---

<a class="menu-cta" href="/contact"> {t("footer.contactus")}</a>

<style lang="scss">
  .menu-cta {
    display: inline-block;
    width: fit-content;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: var(--radius-default);
    background-color: var(--action-color);
    text-decoration: none;
    border: none;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--action-color-state);
    }
  }
</style>
