---

---

<a class="menu-cta" href="/contact">Contact Us</a>

<style>
  .menu-cta {
    display: inline-block;
    width: 80px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: var(--radius-default);
    background-color: var(--action-color);
    text-decoration: none;
    border: none;
    text-align: center;
    cursor: pointer;


    &:hover {
      background-color: var(--action-color-state);
    }
  }
</style>
