---
import Icon from "astro-icon";
interface Props {
  icon: string;
  href: string;
}

const { icon, href } = Astro.props;
---

<button class="cta-button">
  <a href={href}><slot /></a>
  <Icon name={icon} />
</button>



<style lang="scss">

  @use "../assets/scss/base/_breakpoint.scss" as *;
  .cta-button {
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: var(--radius-default);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-true-blue);
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover {
      background-color: #1738a3;
      box-shadow: 0 0 10px 0 #1738a3;
    }
    
    @include breakpoint(sm) {
      font-size: 1.6rem;
    }

    > a {
      text-decoration: none;
      color: var(--color-mint-cream);
      display: inline-block;
      text-wrap: nowrap;
      margin-right: 10px;
    }

    > [astro-icon] {
      width: 20px;
      height: 20px;
      color: var(--color-mint-cream);
    }
  }
</style>
