---
import Address from "./Address.astro";
import Quick_link from "./Quick_link.astro";
---

<footer>
  <div class="contenedor">
    <div class="child-1">
      <h1>Quick Links</h1>
      <Quick_link href="About Us" title="About Us"/>
      <Quick_link href="Gallery" title="Gallery"/>
      <Quick_link href="Our Services" title="Our Services"/>
      <Quick_link href="Contact Us" title="Contact Us"/>
      <Quick_link href="Careers" title="Careers"/>
    </div>
    <div class="child-2">
      <Address
        title="Colombia HQ"
        body="Cra 1st # 11-34Q Chía - Cundinamarca"
      />
      <Address
        title="US HQ"
        body="210 NE 45th St. Oakland Park, Florida 33334"
      />
    </div>
    <div class="child-3">
      <svg xmlns="http://www.w3.org/2000/svg"  height="24" viewBox="0 0 24 24" fill="none">
        <path d="M21.3333 0C22.0406 0 22.7189 0.280951 23.219 0.781048C23.719 1.28115 24 1.95942 24 2.66667V21.3333C24 22.0406 23.719 22.7189 23.219 23.219C22.7189 23.719 22.0406 24 21.3333 24H2.66667C1.95942 24 1.28115 23.719 0.781048 23.219C0.280951 22.7189 0 22.0406 0 21.3333V2.66667C0 1.95942 0.280951 1.28115 0.781048 0.781048C1.28115 0.280951 1.95942 0 2.66667 0H21.3333ZM20.6667 20.6667V13.6C20.6667 12.4472 20.2087 11.3416 19.3936 10.5264C18.5784 9.71128 17.4728 9.25333 16.32 9.25333C15.1867 9.25333 13.8667 9.94667 13.2267 10.9867V9.50667H9.50667V20.6667H13.2267V14.0933C13.2267 13.0667 14.0533 12.2267 15.08 12.2267C15.5751 12.2267 16.0499 12.4233 16.3999 12.7734C16.75 13.1235 16.9467 13.5983 16.9467 14.0933V20.6667H20.6667ZM5.17333 7.41333C5.76742 7.41333 6.33717 7.17733 6.75725 6.75725C7.17733 6.33717 7.41333 5.76742 7.41333 5.17333C7.41333 3.93333 6.41333 2.92 5.17333 2.92C4.57571 2.92 4.00257 3.1574 3.57999 3.57999C3.1574 4.00257 2.92 4.57571 2.92 5.17333C2.92 6.41333 3.93333 7.41333 5.17333 7.41333ZM7.02667 20.6667V9.50667H3.33333V20.6667H7.02667Z" fill="#67CF94"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <path d="M10.4001 2.66675H21.6001C25.8668 2.66675 29.3334 6.13341 29.3334 10.4001V21.6001C29.3334 23.6511 28.5187 25.6181 27.0684 27.0684C25.6181 28.5187 23.6511 29.3334 21.6001 29.3334H10.4001C6.13341 29.3334 2.66675 25.8668 2.66675 21.6001V10.4001C2.66675 8.34907 3.48151 6.38207 4.93179 4.93179C6.38207 3.48151 8.34907 2.66675 10.4001 2.66675ZM10.1334 5.33341C8.86038 5.33341 7.63948 5.83913 6.7393 6.7393C5.83913 7.63948 5.33341 8.86038 5.33341 10.1334V21.8667C5.33341 24.5201 7.48008 26.6667 10.1334 26.6667H21.8667C23.1398 26.6667 24.3607 26.161 25.2609 25.2609C26.161 24.3607 26.6667 23.1398 26.6667 21.8667V10.1334C26.6667 7.48008 24.5201 5.33341 21.8667 5.33341H10.1334ZM23.0001 7.33342C23.4421 7.33342 23.866 7.50901 24.1786 7.82157C24.4912 8.13413 24.6667 8.55805 24.6667 9.00008C24.6667 9.44211 24.4912 9.86603 24.1786 10.1786C23.866 10.4912 23.4421 10.6667 23.0001 10.6667C22.5581 10.6667 22.1341 10.4912 21.8216 10.1786C21.509 9.86603 21.3334 9.44211 21.3334 9.00008C21.3334 8.55805 21.509 8.13413 21.8216 7.82157C22.1341 7.50901 22.5581 7.33342 23.0001 7.33342ZM16.0001 9.33342C17.7682 9.33342 19.4639 10.0358 20.7141 11.286C21.9644 12.5363 22.6667 14.232 22.6667 16.0001C22.6667 17.7682 21.9644 19.4639 20.7141 20.7141C19.4639 21.9644 17.7682 22.6667 16.0001 22.6667C14.232 22.6667 12.5363 21.9644 11.286 20.7141C10.0358 19.4639 9.33342 17.7682 9.33342 16.0001C9.33342 14.232 10.0358 12.5363 11.286 11.286C12.5363 10.0358 14.232 9.33342 16.0001 9.33342ZM16.0001 12.0001C14.9392 12.0001 13.9218 12.4215 13.1717 13.1717C12.4215 13.9218 12.0001 14.9392 12.0001 16.0001C12.0001 17.0609 12.4215 18.0784 13.1717 18.8285C13.9218 19.5787 14.9392 20.0001 16.0001 20.0001C17.0609 20.0001 18.0784 19.5787 18.8285 18.8285C19.5787 18.0784 20.0001 17.0609 20.0001 16.0001C20.0001 14.9392 19.5787 13.9218 18.8285 13.1717C18.0784 12.4215 17.0609 12.0001 16.0001 12.0001Z" fill="#67CF94"/>
      </svg>
    </div>
  </div>
  <p>© 2022 IP Moviles *All rights reserved</p>
</footer>
<style>
  footer {
    width: 100%;
    height: 200px;
    background-color: var(--color-dark-jungle-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    font-size: 8px;
    color: white;
  }
  h1{
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
  }
  .contenedor {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .child-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    color: white;
  }
  .child-1 h1{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .child-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25%;
    color: white;
  }
  .child-3{
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    footer{
        height:220px;
    }
   .contenedor{
    width:60%;
   }
   .child-1 h1{
    font-size: 24px;
  }
  .child-1{
    width:30%;
  }
  .child-2{
    width:50%;
  }
  .child-3{
    flex-direction:row;
    gap:20px
  }
  }
</style>
