---
import Navbar from "../components/Navbar.astro";
import LangSwitch from "../components/LangSwitch.astro";
// import { SkipLinks } from 'accessible-astro-components'
// import { Icon } from 'astro-icon'
---

<header>
  <!-- <SkipLinks /> -->
  <Navbar>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/blog/">About Us</a>
    </li>
    <li class="menu-item">
      <a href="/">Our Services</a>
    </li>
    <li class="menu-item">
      <a href="/">Gallery</a>
    </li>
    <li class="menu-item menu-cta">
      <a href="/">Contact Us</a>
    </li>
    <li class="menu-item menu-switch">
      <LangSwitch />
    </li>
  </Navbar>
</header>

