---
import Navbar from "../components/Navbar.astro";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
---

<header>
  <!-- <SkipLinks /> -->
  <Navbar transition:persist>
    <li class="menu-item">
      <a href={localizePath("/")}>{t("navbar.home")}</a>
    </li>
    <li class="menu-item">
      <a href={localizePath("/about")}> {t("navbar.about")}</a>
    </li>
    <li class="menu-item">
      <a href={localizePath("/services")}> {t("navbar.services")}</a>
    </li>
    <li class="menu-item">
      <a href={localizePath("/gallery")}> {t("navbar.gallery")}</a>
    </li>
    <li class="menu-item">
      <a href={localizePath("/contact")}> {t("navbar.contact")}</a>
    </li>
  </Navbar>
</header>
