---
import Navbar from "../components/Navbar.astro";
import { localizePath } from "astro-i18next";
---

<header>
  <!-- <SkipLinks /> -->
  <Navbar>
    <li class="menu-item">
      <a href={localizePath("/")}>Home</a>
    </li>
    <li class="menu-item">
      <a href={localizePath("/about")}>About Us</a>
    </li>
    <li class="menu-item">
      <a href={localizePath("/services")}>Our Services</a>
    </li>
    <li class="menu-item">
      <a href={localizePath("/gallery")}>Gallery</a>
    </li>
    <li class="menu-item">
      <a href={localizePath("/contact")}>Contact Us</a>
    </li>
  </Navbar>
</header>