---

---

<form action="" class="lang-switch">
  <label for="lang-switch"></label>
  <select name="lang-switch" id="lang-switch">
    <option value="en" selected>EN</option>
    <option value="es">ES</option>
  </select>
</form>

<style lang="scss">
  .lang-switch {
    display: inline-block;
    color: var(--font-color);

    > select {
      background-color: var(--switch-color);
      border: none;
    }
  }
</style>
