---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
import "../assets/scss/base/_breakpoint.scss";
---

<li>
  <a href={href}>{title}</a>
</li>

<style>
  a {
    text-decoration: underline;
    color: var(--color-mint-cream);
    font-size: 10px;
  }
  li {
    font-size: 5px;
  }
  @media screen and (min-width: 768px) {
    a {
      font-size: 18px;
      color: var(--color-mint-cream) !important;
    }
    li {
      font-size: 10px;
      color: var(--color-mint-cream) !important;
    }
  }
</style>
