---
import Icon from "astro-icon";
import Address from "./Address.astro";
import QuickLink from "./QuickLink.astro";
import { t } from "i18next";
---

<footer>
  <div class="container">
    <div class="child-1">
      <h3>{t("footer.quick_links")}</h3>
      <QuickLink href="about" title={t("navbar.about")} />
      <QuickLink href="gallery" title={t("navbar.gallery")} />
      <QuickLink href="services" title={t("navbar.services")} />
      <QuickLink href="contact" title={t("navbar.contact")} />
    </div>
    <div class="child-2">
      <Address title="US HQ" body="10454 Nw 6ST, pembroke pines, FL 33026." />
      <Address
        title="Colombia HQ"
        body="Cra 1st # 11-34Q Chía - Cundinamarca"
      />
    </div>
    <div class="child-3">
      <a href="https://co.linkedin.com/company/ipmoviles" target="_blank"
        ><Icon name="bi:linkedin" /></a
      >
      <a href="https://www.instagram.com/ip_moviles/" target="_blank">
        <Icon name="bi:instagram" />
      </a>
    </div>
  </div>
  <p>© {t("footer.rights")}</p>
</footer>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint.scss" as *;

  footer {
    width: 100%;
    background-color: var(--footer-background-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 12px;

    p {
      font-size: 12px;
      color: white;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 1.4rem;
      font-weight: 700;
      color: white;
    }

    @include breakpoint(sm) {
      h3 {
        font-size: 1.6rem;
      }

      a {
        font-size: 1.2rem;
      }
    }

    @include breakpoint(md) {
      h3 {
        font-size: 2rem;
      }

      a {
        font-size: 1.8rem;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;

    @include breakpoint(md) {
      width: 80%;
      justify-content: space-evenly;
    }
  }

  .child-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .child-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .child-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
    margin-top: 5px;
    @include breakpoint(md) {
      margin-top: 10px;
    }
    > a {
      > [astro-icon] {
        width: 24px;
        height: 24px;
        color: var(--action-color);

        &:hover {
          color: var(--color-mint-cream);
        }
      }
    }
  }
</style>
