---
import { changeLanguage, t } from "i18next";
import Layout from "../../layouts/Layout.astro";
import CardAboutUsFondo from "../../components/CardAboutUsFondo.astro";
import { Image } from "astro:assets";
import image from "../../assets/images/obrero.svg";
import Icon from "astro-icon";

changeLanguage("es");
---

<Layout title="About Us">
  <div class="container">
    
  </div>
  <h1 class="h1">{t("about_us.about_us_title")}</h1>
  <section class="contenedor">
    <div class="mover">
      <div class="contenedorExperiencia">
        <div class="experiencia">
          <div class="iconXP">
            <Icon name="mdi:star-check" />
          </div>
          <p class="cardNoFondo">
            {t("about_us.text01")}
            <span class="xp">{t("about_us.text02")}</span>
            {t("about_us.text03")}
          </p>
          <p class="cardNoFondo">
            {t("about_us.text04")}
          </p>
        </div>

        <div class="experiencia">
          <div class="iconXP">
            <Icon name="mdi:medal-outline" />
          </div>

          <p class="cardNoFondo">
            {t("about_us.text05")}<span class="xp">
              {t("about_us.text06")}</span
            >
            {t("about_us.text07")}
          </p>
          <p class="cardNoFondo">
            {t("about_us.text08")}
          </p>
        </div>
      </div>
      <div class="obrero-img">
        <Image src={image} alt="products section image" />
      </div>
    </div>
    <div class="grid">
      <div class="izquierdo">
        <CardAboutUsFondo size={"450px"} title={t("about_us.mission_tittle")}>
          <div class="mobile">
            <p class="cardFondo">
              {t("about_us.mission_text01")}
              <span class="span">{t("about_us.mission_text02")}</span>
              {t("about_us.mission_text03")}
            </p>
            <p class="cardFondo">
              {t("about_us.mission_text04")}
            </p>
          </div>

          <div class="desktop">
            <p class="cardFondo">
              {t("about_us.mission_text01")}
              <span class="span">{t("about_us.mission_text02")}</span>
              {t("about_us.mission_text03")}
            </p>
            <p class="cardFondo">
              {t("about_us.mission_text04")}
            </p>
          </div>
        </CardAboutUsFondo>

        <CardAboutUsFondo size={"450px"} title={t("about_us.vision_title")}>
          <div class="mobile">
            <p class="cardFondo">
              {t("about_us.vision_text01")}
              <span class="span">{t("about_us.vision_text02")}</span>
              {t("about_us.vision_text03")}
              {t("about_us.vision_text04")}
            </p>
          </div>

          <div class="desktop">
            <p class="cardFondo">
              {t("about_us.vision_text01")}
              <span class="span">{t("about_us.vision_text02")}</span>
              {t("about_us.vision_text03")}
              {t("about_us.vision_text04")}
            </p>
          </div>
        </CardAboutUsFondo>
      </div>
      <div class="derecho">
        <CardAboutUsFondo size={"621px"} title={t("about_us.values_title")}>
          <div class="mobile">
            <ul>
              <li class="liFondo">
                {t("about_us.values01")}
              </li>
              <li class="liFondo">
                {t("about_us.values02")}
              </li>
            </ul>
          </div>

          <div class="desktop">
            <ul>
              <li class="liFondo">
                {t("about_us.values01_desktop")}
              </li>
              <li class="liFondo">
                {t("about_us.values02_desktop")}
              </li>
            </ul>
          </div>
        </CardAboutUsFondo>
      </div>
    </div>
  </section>

  <style lang="scss">
    @use "../../assets/scss/base/_breakpoint.scss" as *;

    .contenedorExperiencia {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @include breakpoint(md) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 138px;
        margin-bottom: 100px;
      }
    }
    .obrero-img img {
      width: 200px;
      height: 300px;
      @include breakpoint(md) {
        width: 400px;
        height: 500px;
      }
    }

    .mover {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint(md) {
        flex-direction: column-reverse;
      }
    }

    .iconXP [astro-icon] {
      color: var(--action-color);
      width: 50px;
      height: 50px;
      background-color: var(--color-rich-black);
      box-sizing: border-box;
      padding: 10px;
      border-radius: 100%;
      @include breakpoint(md) {
        padding: 20px;
        width: 80px;
        height: 80px;
      }
    }

    .experiencia {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-size: 16px;
      @include breakpoint(md) {
        width: 452px;
        font-size: 24px;
        gap: 20px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-sizing: border-box;
      padding: 20px;
    }

    .cardNoFondo {
      font-weight: 600;
    }

    .xp {
      color: var(--emphasis-color);
    }
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 30px 65px 30px 65px;
      width: 100%;
    }
    .h1 {
      padding-left: 60px;
      width: 100%;
      font-size: 24px;
      margin-top: 30px;
      @include breakpoint(md) {
        font-size: 40px;
        padding-left: 180px;
      }
    }

    .span {
      font-weight: 700;
    }

    .cardFondo {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-mint-cream);
      @include breakpoint(md) {
        font-size: 24px;
      }
    }

    .liFondo {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-mint-cream);
      line-height: 130%;
      @include breakpoint(md) {
        font-size: 24px;
      }
    }

    .grid {
      @include breakpoint(md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        justify-content: center;
        width: 60%;
      }
    }

    .izquierdo {
      @include breakpoint(md) {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-gap: 10px;
      }
    }

    .mobile {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include breakpoint(md) {
        display: none;
      }
    }

    .desktop {
      display: none;
      @include breakpoint(md) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  </style>
</Layout>
