---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import CardAboutUsFondo from "../../components/CardAboutUsFondo.astro";
import { Image } from "astro:assets";
import image from "../../assets/images/obrero.svg";
import icon1 from "../../assets/images/iconXPabout1.svg";
import Icon from "astro-icon";

changeLanguage("es");
---

<Layout title="About Us">
  <h1 class="h1">About Us</h1>
  <section class="contenedor">
    <div class="mover">
      <div class="contenedorExperiencia">
        <div class="experiencia">
          <div class="iconXP">
            <Icon name="mdi:star-check" />
          </div>
          <p class="cardNoFondo">
            With <span class="xp">over 15 years</span> of unmatched excellence
            in the Telecom and ICT fields. In IPMoviles we are dedicated to
            providing high-quality services and cutting-edge cloud solutions
            while strictly adhering to industry regulations, Forming strong
            strategic alliances with industry leaders like INSPUR.
          </p>
          <p class="cardNoFondo">
            Since our establishment in 2008, We've gained your trust as the
            go-to experts, tackling a wide range of projects across multiple
            sectors, from telecommunications to education, finance, and oil.
          </p>
        </div>

        <div class="experiencia">
          <div class="iconXP">
            <Icon name="mdi:medal-outline" />
          </div>

          <p class="cardNoFondo">
            We prioritize <span class="xp">
              our clients' needs as a customer-centric company</span
            > , primarily focused on ICT solutions. Over the last 5 years, we've
            consistently earned positive ratings, including recognition from
            evaluators like Colombia Credit Report. These results shape our
            quality system, fostering ongoing improvement.
          </p>
          <p class="cardNoFondo">
            Our commitment to staying at the forefront of network technology
            drives us to continuously update our personnel. Additionally, we
            actively participated in the Andicom 2015 conference.
          </p>
        </div>
      </div>
      <div class="obrero-img">
        <Image src={image} alt="products section image" />
      </div>
    </div>
    <div class="grid">
      <div class="izquierdo">
        <CardAboutUsFondo size={"450px"} title={"Our Mission"}>
          <div class="mobile">
            <p class="cardFondo">
              We <span class="span"
                >contribute to the technological needs of society</span
              > by providing comprehensive solutions tailored to the
              requirements presented. This is achieved through the availability,
              performance, quality, management, and evolution of our company's
              infrastructure and architecture.
            </p>
            <p class="cardFondo">
              We are guided by a culture of processes and projects, keeping our
              personnel focused on best practices and trends towards the
              convergence of telecommunications.
            </p>
          </div>

          <div class="desktop">
            <p class="cardFondo">
              We <span class="span"
                >contribute to the technological needs of society</span
              > by providing comprehensive solutions tailored to the
              requirements presented. This is achieved through the availability,
              performance, quality, management, and evolution of our company's
              infrastructure and architecture.
            </p>
            <p class="cardFondo">
              We are guided by a culture of processes and projects, keeping our
              personnel focused on best practices and trends towards the
              convergence of telecommunications.
            </p>
          </div>
        </CardAboutUsFondo>

        <CardAboutUsFondo size={"450px"} title={"Our  Vision"}>
          <div class="mobile">
            <p class="cardFondo">
              By <span class="span">2035</span> , our vision is to become a
              nationally and internationally recognized leading company, firmly
              established in the provision of high-quality and efficient
              technological services and solutions. We will adhere to quality
              standards and comply with current regulations to ensure
              outstanding performance in our field.
            </p>
          </div>

          <div class="desktop">
            <p class="cardFondo">
              By <span class="span">2035</span>, our vision is to become a
              nationally and internationally recognized leading company, firmly
              established in the provision of high-quality and efficient
              technological services and solutions.
            </p>

            <p class="cardFondo">
              We will adhere to quality standards and comply with current
              regulations to ensure outstanding performance in our field.
            </p>
          </div>
        </CardAboutUsFondo>
      </div>
      <div class="derecho">
        <CardAboutUsFondo size={"621px"} title={"Our Corporate Values"}>
          <div class="mobile">
            <ul>
              <li class="liFondo">
                Our company's philosophy centers on loyalty, responsibility,
                honesty, respect, and competitiveness. We emphasize fulfilling
                individual responsibilities to strengthen our institutional
                image and carrying out tasks with commitment to quality.
              </li>
              <li class="liFondo">
                Our actions are guided by ethical discernment and respect for
                both individuals and the organization. We prioritize efficiency,
                service-oriented commitment, and a culture of quality to exceed
                customer expectations while respecting the environment.
              </li>
            </ul>
          </div>

          <div class="desktop">
            <ul>
              <li class="liFondo">
                At our core, our company is founded upon a philosophy of
                loyalty, responsibility, honesty, and respect. We believe in
                fulfilling our individual responsibilities to enhance our
                institutional image, carrying out tasks with unwavering
                commitment to established quality policies, and always acting
                with ethical discernment and respect for the inherent rights of
                each individual and our organization.
              </li>
              <li class="liFondo">
                We strive for efficiency, delivering quality results through
                meticulous planning, and demonstrate a strong commitment to
                service and a sense of belonging to our organization, all while
                exercising the necessary leadership to achieve our objectives
                while respecting the environment. Our overarching goal is to
                maintain competitiveness through a culture of quality, ensuring
                that every product and service we offer not only meets but
                exceeds customer expectations.
              </li>
            </ul>
          </div>
        </CardAboutUsFondo>
      </div>
    </div>
  </section>

  <style lang="scss">
    @use "../../assets/scss/base/_breakpoint.scss" as *;

    .contenedorExperiencia {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @include breakpoint(md) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 138px;
        margin-bottom: 100px;
      }
    }
    .obrero-img img {
      width: 200px;
      height: 300px;
      @include breakpoint(md) {
        width: 400px;
        height: 500px;
      }
    }

    .mover {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint(md) {
        flex-direction: column-reverse;
      }
    }

    .iconXP [astro-icon] {
      color: var(--action-color);
      width: 50px;
      height: 50px;
      background-color: var(--color-rich-black);
      box-sizing: border-box;
      padding: 10px;
      border-radius: 100%;
      @include breakpoint(md) {
        padding: 20px;
        width: 80px;
        height: 80px;
      }
    }

    .experiencia {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-size: 16px;
      @include breakpoint(md) {
        width: 452px;
        font-size: 24px;
        gap: 20px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-sizing: border-box;
      padding: 20px;
    }

    .cardNoFondo {
      font-weight: 600;
    }

    .xp {
      color: var(--emphasis-color);
    }
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 30px 65px 30px 65px;
      width: 100%;
    }
    .h1 {
      font-size: 24px;
      margin-top: 30px;
      @include breakpoint(md) {
        font-size: 40px;
      }
    }

    .span {
      font-weight: 700;
    }

    .cardFondo {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-mint-cream);
      @include breakpoint(md) {
        font-size: 24px;
      }
    }

    .liFondo {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-mint-cream);
      line-height: 130%;
      @include breakpoint(md) {
        font-size: 24px;
      }
    }

    .grid {
      @include breakpoint(md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        justify-content: center;
        width: 60%;
      }
    }

    .izquierdo {
      @include breakpoint(md) {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-gap: 10px;
      }
    }

    .mobile {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include breakpoint(md) {
        display: none;
      }
    }

    .desktop {
      display: none;
      @include breakpoint(md) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  </style>
</Layout>
