---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Home/Hero.astro";
import Services from "../../components/Home/Services.astro";
import CardService from "../../components/Home/CardService.astro";
import Experience from "../../components/Home/Experience.astro";
import Company from "../../components/Home/Company.astro";
import { Image } from "astro:assets";
import imageParallax from "../../assets/images/ParallaxExpSection.png";
import Products from "../../components/Home/Products.astro";
import ContactSection from "../../components/Home/ContactSection.astro";

changeLanguage("es");
---

<Layout title="Home">
  <Hero />
  <Services>
    <CardService
      title="Remote Connectivity"
      text="Installation of equipment to bring internet to remote areas."
      icon="iconoir:antenna"
    />
    <CardService
      title="Configuration and Support"
      text="Configuration of telecommunications technologies tailored to your needs."
      icon="iconoir:antenna"
    />
    <CardService
      title="Site Surveys"
      text="Site evaluations for new installations and network expansions, with detailed report deliveries."
      icon="iconoir:antenna"
    />
    <div class="break"></div>
    <CardService
      title="Network Maintenance"
      text="Maintenance and optimization of cellular networks, Wi-Fi, and data links."
      icon="iconoir:antenna"
    />
    <CardService
      title="Network Deployment"
      text="Commissioning and configuration of mobile network solutions and network testing"
      icon="iconoir:antenna"
    />
    <CardService
      title="Infrastructure and Security"
      text="Installation of servers, intelligent cabinets, CCTV systems, and data networks for voice, data, and alarm services."
      icon="iconoir:antenna"
    />
  </Services>
  <Image src={imageParallax} alt="Company" class={"break-section-image"} />
  <Company />
  <Experience />
  <Products />
  <ContactSection />
  <!-- Sections -->
</Layout>

<script>
  const button = document.querySelectorAll(".cta-button");
  
  button.forEach((button) => {
    const href = button?.querySelector("a")?.href || "#";
    button.addEventListener("click", () => {
      window.location.href = href;
    })
  })
</script>

<style lang="scss">
  @use "../../assets/scss/base/_breakpoint.scss" as *;
  .break {
    display: none;
    @include breakpoint(sm) {
      display: none;
    }
    @include breakpoint(md) {
      display: block;
      flex-basis: 100%;
      height: 1px;
    }
  }

  .break-section-image {
    width: 100%;
    margin: 40px;
    @include breakpoint(530px) {
      display: none;
    }
  }
</style>
