---
import "../assets/scss/globals.scss";
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- MetaComponent -->
    <!-- <meta name="generator" content={Astro.generator} /> -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=raleway:300,400,500,600,700|rubik:300,400,500,600,700"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>

  <body>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />

    <style lang="scss" is:global>
      :root {
        --radius-default: 10px;
        --font-family-default: "Raleway", sans-serif;
        --font-family-heading: "Rubik", sans-serif;

        // Not overrides
        --navbar-background-color: var(--color-rich-black);
        --navbar-text-color: var(--color-mint-cream);
        --toggle-color: var(--color-white);
        --switch-font-color: var(--color-chinese-black);
        --switch-bg-color: var(--color-mint-cream);
        --grey: var(--color-light-silver);
        --footer-background-color: #0D1F32;
        --contact-section-background: linear-gradient(
          180deg,
          #35aeff 0%,
          #5e63da 100%
        );

        // Light Theme
        --action-color: var(--color-moonstone-dark);
        --action-color-state: var(--color-moonstone-dark);
        --font-color: var(--color-rich-black);
        --second-font-color: var(--color-chinese-black);
        --background-color: var(--color-azure);
        --hero-background-color: linear-gradient(
          180deg,
          rgba(0, 2, 14, 0.2) 0%,
          rgba(71, 158, 188, 0.2) 47.4%,
          rgba(244, 254, 255, 0.2) 100%
        );
        --theme-color: var(--color-icon-dark);
        --theme-color-state: var(--color-icon-dark-hover);
        --services-card-background: #0b151b;
        --emphasis-color: var(--color-moonstone);
        --hero-title: var(--color-rich-black);
        --hero-text-opacity: var(--color-chinese-black);
        --card-background-color: var(--color-true-blue);
        --card-icon-color: #ecebe9;
        --cta-button-background-color: var(--color-true-blue);
        --exp-card-background-color: var(--color-true-blue);
      }

      // darkmode overrides
      .darkmode {
        --action-color: var(--color-moonstone);
        --action-color-state: var(--color-moonstone);
        --font-color: var(--color-mint-cream);
        --second-font-color: var(--color-mint-cream);
        --background-color: var(--color-chinese-black);
        --hero-background-color: radial-gradient(
          100% 100% at 50% 0%,
          rgba(230, 230, 230, 0.2) 0%,
          rgba(2, 118, 183, 0.2) 42.77%,
          rgba(14, 19, 31, 0.2) 100%
        );
        --theme-color: var(--color-icon-light);
        --theme-color-state: var(--color-icon-light-hover);
        --services-card-background: rgba(2, 0, 21, 0.6);
        --emphasis-color: var(--color-emerald);
        --hero-title: var(--color-moonstone);
        --hero-text-opacity: #bbbfbd;
        --card-background-color: var(--color-blue-saphire);
        --card-icon-color: var(--color-mint-cream);
        --cta-button-background-color: var(--color-moonstone);
        --exp-card-background-color: #08283a;
      }

      body {
        display: flex;
        flex-direction: column;
        color: var(--font-color);
        background-color: var(--background-color);

        h2.section-title{
          color: var(--color-moonstone);
        }

        main {
          flex: 1 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        footer {
          flex-shrink: 0;
        }
      }

      .flex {
        display: flex;
      }

      .items-center {
        align-items: center;
      }

      .no-underline {
        text-decoration: none;
      }

      .hidden {
        display: none;
      }
    </style>
  </body>
</html>
